[2018-10-03 20:25] banukutlu opened #1 "Initial Indexing on QA"
*  4gb mem with 2 cores
   -Xms256M -Xmx512M
   processing_thread_pool = 1
[code]

*  16gb mem with 8 cores
   -Xms256M -Xmx8G
   processing_thread_pool = 1
[code]
   processing_thread_pool = 7
[code]

[2018-10-03 20:25] #1 closed, assigned to banukutlu

[2018-10-03 20:25] banukutlu opened #2 "placeholder issue for issue which does not exist and was probably deleted in GitLab"
This is to ensure the issue numbers in GitLab and GitHub are the same

[2018-10-03 20:25] #2 closed, assigned to nobody

[2018-10-03 20:25] banukutlu opened #3 "Migrate to GitHub"
In GitLab by @mxk128 on May 14, 2018, 16:19

https://github.com/piceaTech/node-gitlab-2-github

- [x] Migrate
  - [x] Milestones
  - [x] Labels
  - [x] Issues and comments
  - [x] Attachments - manually
  - [x] Wiki - manually
- [x] Protect master branch
- [x] Check access permissions
- [x] Deploy keys - https://developer.github.com/v3/guides/managing-deploy-keys/#machine-users
- [x] Archive repo

[2018-10-03 20:27] banukutlu opened #4 "Deleting records from index"
Requires #63

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @mxk128 on Jun 6, 2018, 08:57

changed title from **Deleting indexes from solr** to **Deleting {+records/+}indexes from solr**

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @ful105 on Jun 12, 2018, 10:14

See #6

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @mxk128 on Jun 12, 2018, 11:15

added ~938 label

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @mxk128 on Jun 14, 2018, 15:03

Experimented deleting from solr at the command line

`` curl 'http://localhost:8983/solr/blacklight-core/update?commit=true' -H 'Content-type:text/xml' -d '<delete><id>3199220</id><id>3199219</id></delete>'
``

In our opinion in would be best to delete ids one at a time to avoid an extremely long url.
We will have a script which can be written any of se

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @bzk60 on Aug 16, 2018, 10:38

removed ~938 label

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @bzk60 on Sep 7, 2018, 13:26

assigned to @mxk128

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @bzk60 on Sep 7, 2018, 13:30

changed title from **Deleting records{-/indexes from s-}olr** to **Deleting records{+ from S+}olr**

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @bzk60 on Sep 26, 2018, 10:34

added ~938 label

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @bzk60 on Sep 26, 2018, 14:34

mentioned in merge request !3

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @tbd3 on Sep 27, 2018, 09:07

Tested some deletes and they work as planned. Made a change to use one log with logrotate so have to test again.

[2018-10-03 20:27] banukutlu commented on #4
In GitLab by @tbd3 on Sep 27, 2018, 13:43

It's now doing logrotate instead of writing out a log for each change coming over from Symphony. Re-tested and all seems to work.

[2018-10-03 20:27] banukutlu opened #5 "Add and Update records to index"
Requires #63

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @tbd3 on Jun 6, 2018, 09:05

Each day, MARC update files are sent from Symphony to Serials Solutions to update the Summon indexes. Maryam and I tested using these same files to update the SOLR indexes and that worked fine. This means that we can send those same MARC files to the traject server and update the SOLR indexes with those files. Summon indexes are updated daily, but if we wa

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @rkt6 on Jun 12, 2018, 10:11

Note: what we send to Serials Solutions doesn't include Westlaw, etc. so we want to ensure everything is covered.

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @rkt6 on Jun 12, 2018, 10:12

Note: ensuring that we get deltas handled so that if it's run more than once a day we don't have overlap.

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @mxk128 on Jun 12, 2018, 11:15

added ~938 label

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @tbd3 on Jun 22, 2018, 11:22

In The CAT, you can search by library or, in advanced search, you can search by location. This advanced search location search is searching the "home" location of the item and not the current location. Any change to the home location makes the catalog key appear in /sirsi/Unicorn/Database/Edit and therefore the record is re-indexed. Current location is NO

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @rkt6 on Jun 22, 2018, 13:07

Thanks very much for spelling out all this detail!

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @bzk60 on Aug 16, 2018, 10:38

removed ~938 label

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @bzk60 on Sep 7, 2018, 13:26

assigned to @mxk128

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @bzk60 on Sep 7, 2018, 13:30

changed title from **Add and Update records{-/indexes-} in Solr** to **Add and Update records in Solr**

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @tbd3 on Sep 11, 2018, 09:57

Got the script running on blackcat qa server that will process the Symphony adds and updates every 15 minutes. Extracts on the Symphony side run every 30 minutes. If the script doesn't have anything to do, it errors right now so that needs tweaked. It errors because of a file not found situation on the ls command. I'm running it more often on blackcat so

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @bzk60 on Sep 26, 2018, 10:34

added ~938 label

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @bzk60 on Sep 26, 2018, 14:34

mentioned in merge request !3

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @tbd3 on Sep 27, 2018, 09:07

Tested some adds/updates and they work as planned. Made a change to use one log with logrotate so have to test again.

[2018-10-03 20:27] banukutlu commented on #5
In GitLab by @tbd3 on Sep 27, 2018, 13:43

It's now doing logrotate instead of writing out a log for each change coming over from Symphony. Re-tested and all seems to work.

[2018-10-03 20:27] banukutlu opened #6 "Deleted records should not show up in suggestions"

[2018-10-03 20:27] banukutlu commented on #6
In GitLab by @rkt6 on Jun 12, 2018, 10:16

closed

[2018-10-03 20:27] banukutlu commented on #6
In GitLab by @bzk60 on Sep 4, 2018, 13:46

assigned to @bzk60

[2018-10-03 20:27] banukutlu commented on #6
In GitLab by @bzk60 on Sep 4, 2018, 13:53

changed title from **{-Suggestive searching turned off-}** to **{+Deleted records should not show up in suggestions+}**

[2018-10-03 20:28] banukutlu commented on #6
In GitLab by @bzk60 on Sep 4, 2018, 13:53

changed the description

[2018-10-03 20:28] banukutlu opened #7 "Setup sftp communications between Symphony and Blacklight"
In GitLab by @mxk128 on Jun 14, 2018, 15:05

SSH Keys need to be setup to allow this.

[2018-10-03 20:28] banukutlu commented on #7
In GitLab by @mxk128 on Jun 14, 2018, 15:06

changed title from **Setup sftp communications between Symphony and Blacklight{- (ssh keys)-}** to **Setup sftp communications between Symphony and Blacklight**

[2018-10-03 20:28] banukutlu commented on #7
In GitLab by @mxk128 on Jun 14, 2018, 15:06

changed the description

[2018-10-03 20:28] #7 closed

[2018-10-03 20:29] banukutlu opened #8 "Update URLs notfulltext regex"
* [x] **Maryam**: export all 856s with both indicators and subfields. If possible, export all 856s which do NOT have second indicator of 0 or 2. (Otherwise we can sort on second indicator and select only some).
* [x] **Ruth**:  Improve regular expressions matching for table of contents, etc., in URLs notfulltext by reviewing our records. Take contents of subfield z and subfield 3 where second indi

[2018-10-03 20:29] banukutlu commented on #8
In GitLab by @rkt6 on Jun 19, 2018, 09:50

changed the description

[2018-10-03 20:29] banukutlu commented on #8
In GitLab by @mxk128 on Jun 20, 2018, 10:45

marked the task ****Maryam**: export all 856s with both indicators and subfields. If possible, export all 856s which do NOT have second indicator of 0 or 2. (Otherwise we can sort on second indicator and select only some).** as completed

[2018-10-03 20:29] banukutlu commented on #8
In GitLab by @mxk128 on Jun 20, 2018, 11:27

marked the task ****Maryam**: export all 856s with both indicators and subfields. If possible, export all 856s which do NOT have second indicator of 0 or 2. (Otherwise we can sort on second indicator and select only some).** as incomplete

[2018-10-03 20:29] banukutlu commented on #8
In GitLab by @mxk128 on Jun 20, 2018, 11:46

marked the task ****Maryam**: export all 856s with both indicators and subfields. If possible, export all 856s which do NOT have second indicator of 0 or 2. (Otherwise we can sort on second indicator and select only some).** as completed

[2018-10-03 20:29] banukutlu commented on #8
In GitLab by @mxk128 on Jun 20, 2018, 11:46

@rkt6 I exported all the 856s in a pipe delimited file (3650972 lines) on box https://psu.box.com/s/na1dsbwce8e87ldwp8nyeeqf3rtf447b.
 Name of the file is  all_856s_issue8.txt

catkey|indicators|856 subfield

[2018-10-03 20:29] banukutlu commented on #8
In GitLab by @mxk128 on Jun 20, 2018, 11:47

assigned to @rkt6 and unassigned @mxk128

[2018-10-03 20:29] banukutlu commented on #8
In GitLab by @mxk128 on Jun 20, 2018, 11:48

I have the full list of 856s. Let me know if you want me to upload it to box also.

[2018-10-03 20:29] banukutlu commented on #8
In GitLab by @rkt6 on Jun 20, 2018, 12:02

@mxk128 yes, thank you please put it in Box!

[2018-10-03 20:29] banukutlu opened #9 "Group by Libraries"
In GitLab by @rkt6 on Jun 20, 2018, 13:15

Indexing, we will need a field to match the group of libraries currently available in the CAT's In Library groupings. This will be a controlled set of values. They will be more limited than locations and each location will have to match to a Library.

In the MARC record / Workflows, we'll need to see how this is mapped in the 949 and determine what we nee

[2018-10-03 20:29] banukutlu commented on #9
In GitLab by @rkt6 on Jul 10, 2018, 09:52

Handled in #11

[2018-10-03 20:29] banukutlu commented on #9
In GitLab by @rkt6 on Jul 10, 2018, 09:52

closed

[2018-10-03 20:29] #9 closed

[2018-10-03 20:29] banukutlu opened #10 "Keeping library updated for items"
In GitLab by @tbd3 on Jun 21, 2018, 10:46

What happens if an item changes libraries? For instance, if a BOOKFLOAT item is checked into a different library, we believe the item library changes (ie, the library changes). However, we don't think the cat key is placed into /sirsi/Unicorn/Database/Edit in Symphony so we wouldn't know to trigger a re-index of that item in SOLR. Summon uses this same di

[2018-10-03 20:29] banukutlu commented on #10
In GitLab by @tbd3 on Jun 22, 2018, 11:15

We discovered today that any change to the library (item library in Workflows) forces a re-index of the catalog record by putting the catalog key into /sirsi/Unicorn/Database/Edit. This is good because this is where we will pick up records for re-indexing. Summon gets them here too and Summon is working correctly. We tested a BOOKFLOAT item and as the boo

[2018-10-03 20:29] banukutlu commented on #10
In GitLab by @rkt6 on Jul 10, 2018, 09:53

This is great, thanks Todd. So this should mean that we can handle locations which change because Bookfloat without writing additional code.

[2018-10-03 20:29] banukutlu commented on #10
In GitLab by @bzk60 on Aug 16, 2018, 14:17

Closing this issue since items that changes libraries will be picked up with the `Add and Update records/indexing` #5

[2018-10-03 20:29] banukutlu commented on #10
In GitLab by @bzk60 on Aug 16, 2018, 14:17

closed

[2018-10-03 20:29] banukutlu opened #11 "Mapping Libraries and Campuses"
https://github.com/psu-libraries/psulib_blacklight/wiki/Library-Faceting-and-Locations-Management

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @mxk128 on Jun 21, 2018, 11:53

changed title from **Add{-ing-} a library facet** to **Add a library facet**

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @tbd3 on Jun 22, 2018, 11:31

The library facet can be keyed off the |m in the 949.

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @tbd3 on Jul 3, 2018, 14:38

Library facet has been added by Maryam.

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @rkt6 on Jul 10, 2018, 09:52

changed title from **{-Add a library facet-}** to **{+Library and Location Indexing+}**

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @rkt6 on Jul 10, 2018, 09:52

changed the description

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @rkt6 on Jul 10, 2018, 09:52

Updated with notes from our meeting. This work should be moved to a branch but we've got a good start here!

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @bzk60 on Aug 16, 2018, 14:18

assigned to @mxk128

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @bzk60 on Aug 17, 2018, 15:45

mentioned in commit 2dfaebc9272de4718c7aa46f0b491e5d6ff28af3

[2018-10-03 20:29] banukutlu commented on #11
In GitLab by @bzk60 on Sep 14, 2018, 16:54

created branch [`11-library-and-location-indexing`](https://git.psu.edu/i-tech/psulib_traject/compare/master...11-library-and-location-indexing)

[2018-10-03 20:29] banukutlu opened #12 "Mapping for digital bookplates and dedications"
Ruth updated 2021-11-16 with current practices and mapping so things below may apply less. We will currently not display actual digital bookplates, but the data we're creating through indexing will let us create image bookplates/enhanced search/however we want to do it. See also wiki: https://github.com/psu-libraries/psulib_blacklight/wiki/Endowments-and-Dedications and https://github.com/psu-libr

[2018-10-03 20:29] banukutlu opened #13 "Update to Traject 3.0"
In GitLab by @rkt6 on Aug 16, 2018, 10:08

With release of Traject 3.0, let's upgrade.

[2018-10-03 20:29] banukutlu commented on #13
In GitLab by @bzk60 on Aug 16, 2018, 10:37

assigned to @bzk60

[2018-10-03 20:29] banukutlu commented on #13
In GitLab by @bzk60 on Aug 16, 2018, 10:38

added ~938 label

[2018-10-03 20:29] banukutlu commented on #13
In GitLab by @bzk60 on Aug 20, 2018, 17:28

mentioned in commit 33f6b36d59602cb3b761da8cd5605ad457f9e6cb

[2018-10-03 20:29] banukutlu commented on #13
In GitLab by @bzk60 on Aug 20, 2018, 17:28

closed

[2018-10-03 20:29] banukutlu commented on #13
In GitLab by @bzk60 on Aug 20, 2018, 17:28

removed ~1530 label

[2018-10-03 20:29] #13 closed

[2018-10-03 20:29] banukutlu opened #14 "Index and display titles"
In GitLab by @rkt6 on Aug 16, 2018, 11:35

https://github.com/psu-libraries/psulib_blacklight/wiki/Title-Fields-Indexing-and-Display

To-do:

* [x] Create title statement for display. `245abcfgknps` including vernacular. These should be used for the main title on a record page and the linked title in a search result. Vernacular must be displayed in search result snippets
* [x] Create a uniform tit

[2018-10-03 20:29] banukutlu commented on #14
In GitLab by @rkt6 on Aug 16, 2018, 11:39

changed the description

[2018-10-03 20:30] banukutlu opened #15 "Mapping note fields"
https://github.com/psu-libraries/psulib_blacklight/wiki/Note-Fields-Index-and-Display

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 21, 2018, 09:24

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 21, 2018, 09:55

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 21, 2018, 11:12

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 21, 2018, 11:21

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 21, 2018, 11:22

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 21, 2018, 11:29

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 21, 2018, 13:19

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 22, 2018, 09:34

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Aug 22, 2018, 11:33

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Sep 4, 2018, 15:50

assigned to @rkt6

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Sep 4, 2018, 15:50

assigned to @acg44 and unassigned @rkt6

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @acg44 on Sep 6, 2018, 11:04

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @acg44 on Sep 6, 2018, 11:07

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @acg44 on Sep 6, 2018, 11:21

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @acg44 on Oct 3, 2018, 10:24

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @acg44 on Oct 3, 2018, 11:27

changed the description

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @rkt6 on Oct 3, 2018, 12:03

Ruth - review 510s because they're a bit weird.

[2018-10-03 20:30] banukutlu commented on #15
In GitLab by @acg44 on Oct 3, 2018, 12:06

changed the description

[2018-10-03 20:30] banukutlu opened #16 "library_stdnums should be added to Gemfile"
In GitLab by @bzk60 on Aug 20, 2018, 16:57

Current config requires https://github.com/billdueber/library_stdnums for ISBNs but not added in to the Gemfile.
So when running the traject command it throws the below error:

[code]

[2018-10-03 20:30] banukutlu commented on #16
In GitLab by @bzk60 on Aug 20, 2018, 16:58

changed the description

[2018-10-03 20:30] banukutlu commented on #16
In GitLab by @bzk60 on Aug 20, 2018, 17:13

added ~938 label

[2018-10-03 20:30] banukutlu commented on #16
In GitLab by @bzk60 on Aug 20, 2018, 17:14

changed title from **library_stdnums should be added {-as dependency-}** to **library_stdnums should be added {+to Gemfile+}**

[2018-10-03 20:30] banukutlu commented on #16
In GitLab by @bzk60 on Aug 20, 2018, 17:28

mentioned in commit 33f6b36d59602cb3b761da8cd5605ad457f9e6cb

[2018-10-03 20:30] banukutlu commented on #16
In GitLab by @bzk60 on Aug 20, 2018, 17:28

closed

[2018-10-03 20:30] banukutlu commented on #16
In GitLab by @bzk60 on Aug 20, 2018, 17:28

removed ~1530 label

[2018-10-03 20:31] #16 closed

[2018-10-03 20:31] banukutlu opened #17 "Records with incompatible encodings error"
In GitLab by @bzk60 on Aug 21, 2018, 11:41

[code]

* [x]  List of catkeys and subfields with encoding problems - @mxk128
* [x]  Determine the rules for skipped subfields - @rkt6
* [x]  Follow up with Jeff Edmunds about a possible clean-up for such records - @rkt6

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @bzk60 on Aug 21, 2018, 11:58

changed the description

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @bzk60 on Aug 22, 2018, 09:25

changed the description

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @bzk60 on Aug 22, 2018, 13:45

Setting `Encoding.default_external = "UTF-8"` did not work for us. We will add `provide "marc4j_reader.permissive", true` so that indexing continues instead of throwing an error and failing. With this setting, fields that have corrupt data will be skipped but record will still be indexed.

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @mxk128 on Aug 22, 2018, 14:21

mentioned in commit bc6e77399d5bee405fe96096a714935c70b6e247

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @bzk60 on Aug 23, 2018, 09:42

changed the description

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @bzk60 on Aug 23, 2018, 09:43

changed the description

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @bzk60 on Aug 23, 2018, 09:44

changed the description

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @bzk60 on Aug 23, 2018, 09:47

changed the description

[2018-10-03 20:31] banukutlu commented on #17
In GitLab by @bzk60 on Aug 24, 2018, 11:31

@rkt6 would you mind running traject in your local with this sample doc https://psu.app.box.com/file/312784555565 and upload the resulting log to box here https://psu.app.box.com/folder/52724560586. We would like to see if the subfields with encoding issue will be skipped or not. @mxk128

[2018-10-03 20:32] banukutlu opened #18 "Mapping publication fields"
https://github.com/psu-libraries/psulib_blacklight/wiki/Publication-Info-Fields-Index-and-Display

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 4, 2018, 15:51

assigned to @rkt6

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 5, 2018, 10:41

changed the description

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 5, 2018, 10:42

changed the description

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 5, 2018, 10:42

changed the description

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:08

created branch [`18-index-and-display-publication-fields`](https://git.psu.edu/i-tech/psulib_traject/compare/master...18-index-and-display-publication-fields)

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:18

Fields added:
- production_display
- distribution_display
- manufacture_display
- copyright_display
- edition_statement
- pub_location_t
- publisher_t
- manufacturer_t

(note, contents of `published_display` and `published_vern_display` were changed)

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:19

marked the task **Publication date** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:19

marked the task **Copyright date `264|*4|c` (trim punctuation)** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:19

marked the task **Manufacturer - `260f:264|*3|b` (trim punctuation)** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:19

marked the task **Publisher - `260b:264|*1|b` (trim punctuation)** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:19

marked the task **Publisher location - 260a:264a (trim punctuation)** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:20

marked the task **Publication/edition display** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:20

marked the task **Imprint display** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:20

marked the task **Copyright date display** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Sep 7, 2018, 12:20

marked the task **Edition statement display** as completed

[2018-10-03 20:32] banukutlu commented on #18
In GitLab by @rkt6 on Oct 2, 2018, 10:52

mentioned in merge request !6

[2018-10-03 20:32] banukutlu opened #19 "Document useful solr queries for testing"

[2018-10-03 20:32] banukutlu commented on #19
In GitLab by @bzk60 on Aug 23, 2018, 17:25

assigned to @bzk60

[2018-10-03 20:32] banukutlu opened #20 "Mapping materials characteristics (3xx)"
In GitLab by @rkt6 on Aug 22, 2018, 16:26

To remove (will need to be removed if in Blacklight too)
[code]

Should be replaced by `phys_desc_display` from below.

I've already worked these out previously, but each field below should be reviewed in for whether the punctuation needs to be trimmed or not. If so, add `:trim_punctuation => true`.

[code]

[2018-10-03 20:32] banukutlu commented on #20
In GitLab by @rkt6 on Sep 4, 2018, 15:51

assigned to @acg44

[2018-10-03 20:32] banukutlu commented on #20
In GitLab by @acg44 on Sep 6, 2018, 10:53

Reviewed against sample records and all looks good!

[2018-10-03 20:32] banukutlu commented on #20
In GitLab by @rkt6 on Sep 6, 2018, 11:19

created branch [`20-index-and-display-materials-characteristics-3xx`](https://git.psu.edu/i-tech/psulib_traject/compare/master...20-index-and-display-materials-characteristics-3xx)

[2018-10-03 20:32] banukutlu commented on #20
In GitLab by @rkt6 on Sep 6, 2018, 14:02

Fields added:

- phys_desc_display
- form_work_display
- frequency_display
- audience_display
- duration_display
- sound_display
- music_numerical_display
- music_format_display
- music_key_display
- performance_display
- video_file_display
- digital_file_display

Fields removed:

- material_type_display

[2018-10-03 20:32] banukutlu commented on #20
In GitLab by @rkt6 on Oct 2, 2018, 10:54

mentioned in merge request !7

[2018-10-03 20:32] banukutlu opened #21 "Remove subject ERA and GEO facets."
In GitLab by @rkt6 on Aug 22, 2018, 16:46

Subject-related facets to remove:

Remove these fields from Traject, then make ticket to remove them from Blacklight/

[code]

The nature of the data in 6xx subfields means that era and geographic data is not standardized in a way which makes it useful for faceting.

[2018-10-03 20:32] banukutlu commented on #21
In GitLab by @rkt6 on Sep 4, 2018, 13:06

assigned to @rkt6

[2018-10-03 20:32] banukutlu commented on #21
In GitLab by @bzk60 on Sep 7, 2018, 16:04

added ~1530 label

[2018-10-03 20:32] banukutlu commented on #21
In GitLab by @bzk60 on Sep 12, 2018, 17:46

closed

[2018-10-03 20:32] banukutlu commented on #21
In GitLab by @bzk60 on Sep 12, 2018, 17:46

removed ~1530 label

[2018-10-03 20:32] #21 closed

[2018-10-03 20:32] banukutlu opened #22 "Mapping  genres"
https://github.com/psu-libraries/psulib_blacklight/wiki/Genre-Fields-Index-and-Display

[2018-10-03 20:32] banukutlu opened #23 "Index subjects for display"
In GitLab by @rkt6 on Aug 22, 2018, 16:53

These are derived from Princeton's display indexing. To-do:

* [ ] review fields to ensure these are the fields we want.
* [ ] review how separators appear to work.
* [ ] work through with Banu and Maryam.

[code]
Note that the above code only captures LCSH.

They then define this in https://github.com/pulibrary/marc_liberation/blob/6a3a1772ff48f876882e18

[2018-10-03 20:32] banukutlu commented on #23
In GitLab by @rkt6 on Aug 23, 2018, 16:22

changed the description

[2018-10-03 20:32] banukutlu commented on #23
In GitLab by @rkt6 on Sep 11, 2018, 14:10

changed the description

[2018-10-03 20:32] banukutlu commented on #23
In GitLab by @rkt6 on Sep 13, 2018, 10:38

changed the description

[2018-10-03 20:32] banukutlu commented on #23
In GitLab by @rkt6 on Sep 13, 2018, 10:41

changed the description

[2018-10-03 20:34] banukutlu opened #24 ""Junk" tags"
In GitLab by @rkt6 on Aug 23, 2018, 11:36

@mxk128 we will need to review "junk" tags, etc., because we probably want to run the index against _everything_ we have in terms of fields. If we don't want to display them, we won't index them.

[2018-10-03 20:34] banukutlu commented on #24
In GitLab by @bzk60 on Aug 27, 2018, 11:24

https://staff.libraries.psu.edu/cataloging-and-metadata-services/about-us/teams-and-groups/cataloging-expert-team/tag-lists

Per Ruth

[2018-10-03 20:34] banukutlu commented on #24
In GitLab by @bzk60 on Aug 27, 2018, 11:24

assigned to @mxk128

[2018-10-03 20:34] banukutlu commented on #24
In GitLab by @bzk60 on Aug 27, 2018, 11:25

added ~938 label

[2018-10-03 20:34] banukutlu commented on #24
In GitLab by @bzk60 on Aug 27, 2018, 11:26

removed ~938 label

[2018-10-03 20:34] banukutlu commented on #24
In GitLab by @rkt6 on Sep 4, 2018, 13:04

Per Maryam, we're not running junk tags on the MARC extracts, so we should be good.

[2018-10-03 20:34] banukutlu commented on #24
In GitLab by @rkt6 on Sep 4, 2018, 13:04

closed

[2018-10-03 20:34] #24 closed

[2018-10-03 20:34] banukutlu opened #25 "Full extracts from Sirsi"
In GitLab by @bzk60 on Aug 24, 2018, 09:44

* [x]  Review the current extract script for Summon (ensure everything not Shadowed is extracted)
* [x]   Implement full and incremental extract scripts
  * [x]  Exclude blackcat "junk tags". Requires #24
  * [x]  Exclude `shadowed` records and `review` records.
  * [x]   ~~Review Bound-with records.~~ Requires #42
  * [x]   ~~Review Course Reserves.~~ M

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 24, 2018, 09:44

added ~938 label

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 24, 2018, 09:45

removed ~938 label

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 24, 2018, 09:46

added ~938 label

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @rkt6 on Aug 24, 2018, 10:01

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @rkt6 on Aug 24, 2018, 10:04

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 24, 2018, 10:45

changed title from **Daily extract from Sirsi for Blackcat** to **{+Full and +}Daily extract from Sirsi for Blackcat**

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 24, 2018, 10:46

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 27, 2018, 09:55

https://staff.libraries.psu.edu/cataloging-and-metadata-services/about-us/teams-and-groups/cataloging-expert-team/tag-lists

Per Ruth

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 27, 2018, 11:25

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 30, 2018, 12:04

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 30, 2018, 12:04

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @mxk128 on Aug 30, 2018, 12:06

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @mxk128 on Aug 30, 2018, 12:06

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @mxk128 on Aug 30, 2018, 12:07

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 30, 2018, 12:09

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 30, 2018, 12:11

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 30, 2018, 12:12

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @mxk128 on Aug 30, 2018, 15:49

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @mxk128 on Aug 30, 2018, 15:56

Did a full extract (`catalogdump -kc -h -i -t949 -om`) and came back with 7 errors our of 7+ million records.

Errors were

[code]

I put in a ticket with sirsi asking if is there a way to find out which catkeys resulted in the 7 errors. Their response

So we asked them what do they mean by "just ignore". Does this mean they are included in the dump?

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 31, 2018, 12:03

per @tbd3

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 31, 2018, 12:04

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Aug 31, 2018, 13:48

https://github.com/sul-dlss/searchworks_traject_indexer/blob/master/bin/index_sirsi.sh

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @mxk128 on Sep 4, 2018, 11:53

I did a solr search on the 2 catkeys that sirsi could retrieve (2168931 and 109596) and they were not in solr. So looks like they are not added to the catalogdump.

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Sep 4, 2018, 13:20

marked the task **Include "junk tags" with Ruth #24** as completed

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Sep 4, 2018, 17:12

please see https://github.com/traject/traject/blob/master/doc/batch_execution.md

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Sep 4, 2018, 17:12

changed the description

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Sep 4, 2018, 17:25

per @tbd3

[2018-10-03 20:34] banukutlu commented on #25
In GitLab by @bzk60 on Sep 7, 2018, 14:13

changed the description

[2018-10-03 20:36] banukutlu opened #26 "Document marc_indexer.rb fields"
In GitLab by @bzk60 on Apr 19, 2018, 13:43

Marc Extractor Doc:
https://github.com/traject/traject/blob/b5881ff96fcc671f2a59271281c4809b9ed6bb0c/lib/traject/marc_extractor.rb

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @bzk60 on Apr 19, 2018, 13:44

changed the description

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @bzk60 on Apr 19, 2018, 13:58

changed the description

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @bzk60 on Apr 24, 2018, 13:45

added psulib_blacklight~1518 label

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @bzk60 on May 1, 2018, 17:36

removed psulib_blacklight~1518 label

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @ful105 on Aug 24, 2018, 14:11

moved from psulib_blacklight#34

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @bzk60 on Aug 30, 2018, 15:45

added ~941 label

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @bzk60 on Aug 30, 2018, 15:47

added ~1530 label

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @rkt6 on Aug 30, 2018, 16:04

closed

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @rkt6 on Aug 30, 2018, 16:04

`Blacklight_MARC_Map.xslx`

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @bzk60 on Aug 30, 2018, 16:10

removed ~1530 ~941 labels

[2018-10-03 20:36] banukutlu commented on #26
In GitLab by @bzk60 on Aug 30, 2018, 16:10

changed the description

[2018-10-03 20:36] #26 closed

[2018-10-03 20:36] banukutlu opened #27 "Use solr_wrapper for development"
In GitLab by @bzk60 on Aug 27, 2018, 14:29

Consider using solr_wrapper for local development https://github.com/tulibraries/traject_app/blob/master/Gemfile

or

rsolr https://github.com/pulibrary/orangeindex

[2018-10-03 20:36] banukutlu commented on #27
In GitLab by @bzk60 on Aug 27, 2018, 14:29

changed title from **Document how to use Traject without depending on BL repo** to **Document how to use Traject {+on development +}without depending on BL repo**

[2018-10-03 20:36] banukutlu commented on #27
In GitLab by @bzk60 on Aug 27, 2018, 14:29

changed the description

[2018-10-03 20:36] banukutlu commented on #27
In GitLab by @bzk60 on Aug 27, 2018, 14:30

assigned to @bzk60

[2018-10-03 20:36] banukutlu commented on #27
In GitLab by @bzk60 on Aug 31, 2018, 14:33

changed the description

[2018-10-03 20:37] banukutlu commented on #27
In GitLab by @bzk60 on Aug 31, 2018, 14:44

changed title from **{-Document how to use Traject on development without depending on BL repo-}** to **{+Use solr_wrapper for development+}**

[2018-10-03 20:37] banukutlu commented on #27
In GitLab by @bzk60 on Aug 31, 2018, 14:44

changed the description

[2018-10-03 20:37] banukutlu commented on #27
In GitLab by @bzk60 on Aug 31, 2018, 15:09

added ~938 label

[2018-10-03 20:37] banukutlu commented on #27
In GitLab by @bzk60 on Aug 31, 2018, 15:09

changed the description

[2018-10-03 20:37] banukutlu commented on #27
In GitLab by @bzk60 on Sep 7, 2018, 17:28

created branch [`27-use-solr_wrapper-for-development`](https://git.psu.edu/i-tech/psulib_traject/compare/master...27-use-solr_wrapper-for-development)

[2018-10-03 20:37] banukutlu commented on #27
In GitLab by @bzk60 on Sep 12, 2018, 13:39

mentioned in commit 99980851a81ced11967188c37299463d5359a05f

[2018-10-03 20:37] banukutlu commented on #27
In GitLab by @bzk60 on Sep 12, 2018, 17:46

closed

[2018-10-03 20:37] banukutlu commented on #27
In GitLab by @bzk60 on Sep 12, 2018, 17:46

removed ~1530 label

[2018-10-03 20:37] #27 closed

[2018-10-03 20:37] banukutlu opened #28 "undefined method `source_inspect' exception with v3.0"
In GitLab by @bzk60 on Aug 29, 2018, 11:37

Traject 3 error when running full index:

[code]

[2018-10-03 20:37] banukutlu commented on #28
In GitLab by @bzk60 on Aug 29, 2018, 11:40

added ~938 label

[2018-10-03 20:37] banukutlu commented on #28
In GitLab by @bzk60 on Aug 30, 2018, 12:29

The issue seems to be `Traject::Indexer::Context` class not having a `source_inspect` method. https://github.com/traject/traject/blob/v3.0.0.alpha.1/lib/traject/indexer/context.rb.

Reported this error in slack traject channel and waiting for a reply.

In v2.3.4 instead of `source_inspect`, `source_record_id` method is used for logging. Check here: https

[2018-10-03 20:37] banukutlu commented on #28
In GitLab by @bzk60 on Aug 30, 2018, 14:30

Per conversation on slack, a fix added to traject https://github.com/traject/traject/pull/195/files in alpha.2 release.

[2018-10-03 20:37] banukutlu commented on #28
In GitLab by @bzk60 on Aug 30, 2018, 14:56

created branch [`28-undefined-method-source_inspect-exception-with-v3-0`](https://git.psu.edu/i-tech/psulib_traject/compare/master...28-undefined-method-source_inspect-exception-with-v3-0)

[2018-10-03 20:37] banukutlu commented on #28
In GitLab by @bzk60 on Aug 30, 2018, 14:59

mentioned in commit 08d713c45e43b6ff1e27c11b38225adccde6f739

[2018-10-03 20:37] banukutlu commented on #28
In GitLab by @bzk60 on Aug 30, 2018, 15:38

tested with sample file and lowered the batch size, and it worked so closing this issue.

[2018-10-03 20:37] banukutlu commented on #28
In GitLab by @bzk60 on Aug 30, 2018, 15:38

closed

[2018-10-03 20:37] banukutlu commented on #28
In GitLab by @bzk60 on Aug 30, 2018, 15:38

removed ~1530 label

[2018-10-03 20:37] #28 closed

[2018-10-03 20:37] banukutlu opened #29 "Logging to file"
In GitLab by @bzk60 on Sep 4, 2018, 16:15

Add settings to log to a file https://github.com/traject/traject/blob/master/doc/settings.md

[2018-10-03 20:37] banukutlu commented on #29
In GitLab by @bzk60 on Sep 5, 2018, 09:58

added ~938 label

[2018-10-03 20:37] #29 closed

[2018-10-03 20:39] banukutlu opened #30 "Edit subject topic field"
In GitLab by @rkt6 on Sep 7, 2018, 12:03

Evaluate subject topics for 65xa fields as the default collates things like format type and topic. Limited to LCSH non-subdivision fields

Note: we need to figure out how to index FAST headings. Then we can add those. Beyond that, however, save the rest for display.

Matching parameters for fast:

650|*7|a where subfield 2 == "fast"

We'll test to see if a

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @rkt6 on Sep 7, 2018, 14:28

created branch [`30-edit-subject-topic-field`](https://git.psu.edu/i-tech/psulib_traject/compare/master...30-edit-subject-topic-field)

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @rkt6 on Sep 13, 2018, 10:40

changed the description

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @rkt6 on Sep 13, 2018, 11:04

changed the description

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @rkt6 on Sep 13, 2018, 11:18

changed the description

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @rkt6 on Sep 13, 2018, 11:20

changed the description

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Sep 13, 2018, 11:26

assigned to @bzk60 and unassigned @rkt6

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Sep 13, 2018, 17:07

added ~938 label

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Sep 19, 2018, 17:27

mentioned in commit 5283e69b03453dbc30cd157ea6e56f1a3cfc90cc

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Sep 19, 2018, 17:30

@rkt6 fast headings test cases found in sample records:
[fast_headings_tests.txt](/uploads/b58e17eb23962c17e1dd2b4159db7e1d/fast_headings_tests.txt)

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Sep 19, 2018, 17:31

added ~1530 label

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Sep 19, 2018, 17:31

removed ~938 label

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @rkt6 on Sep 20, 2018, 08:55

@bzk60 these look good to me! Thank you.

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @rkt6 on Oct 2, 2018, 10:55

mentioned in merge request !8

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Oct 3, 2018, 12:09

closed via commit 35fc103ae7fbeace1995cc516078092b0b1d14de

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Oct 3, 2018, 12:09

closed via merge request !8

[2018-10-03 20:39] banukutlu commented on #30
In GitLab by @bzk60 on Oct 3, 2018, 12:10

removed ~1530 label

[2018-10-03 20:39] #30 closed

[2018-10-03 20:39] banukutlu opened #31 "mapping publication year facet"
In GitLab by @rkt6 on Sep 7, 2018, 12:20

Does the marc_publication_date function produce what we actually need for our publication date information? Review what the process does and how well it fits for our use.

Related to #18

[2018-10-03 20:39] banukutlu opened #32 "Call Numbers mapping"
https://github.com/psu-libraries/psulib_blacklight/wiki/Call-Number-Index-and-Display

[2018-10-03 20:39] banukutlu commented on #32
In GitLab by @bzk60 on Sep 7, 2018, 15:44

added ~936 label

[2018-10-03 20:39] banukutlu commented on #32
In GitLab by @bzk60 on Sep 10, 2018, 10:07

changed the description

[2018-10-03 20:39] banukutlu opened #33 "Review from which field to extract the call number from"
In GitLab by @bzk60 on Sep 10, 2018, 12:06

For `callnum display` should we be extracting `949a` field or `050a`?

Per Maryam

Per Ruth

[2018-10-03 20:39] banukutlu commented on #33
In GitLab by @bzk60 on Sep 10, 2018, 12:06

assigned to @mxk128

[2018-10-03 20:39] banukutlu commented on #33
In GitLab by @bzk60 on Sep 10, 2018, 12:08

changed the description

[2018-10-03 20:39] banukutlu commented on #33
In GitLab by @bzk60 on Sep 10, 2018, 12:08

changed the description

[2018-10-03 20:39] banukutlu commented on #33
In GitLab by @rkt6 on Sep 10, 2018, 12:12

My two cents -- it depends on what we're using it for. Preference 050. 949 could be used as backup but it may not have an LC call number. When it comes to actual item display,

However, having an LC call number could be useful for:

- browse
- faceting in the sidebar

Options:

- If no 050, then check 949a.
- See if 949a appropriately matches an LC call n

[2018-10-03 20:39] banukutlu commented on #33
In GitLab by @bzk60 on Sep 10, 2018, 12:50

changed title from **Review from which field to extract the call number** to **Review from which field to extract the call number{+ from+}**

[2018-10-03 20:39] banukutlu opened #34 "Log monitoring of cron index"
In GitLab by @rkt6 on Sep 11, 2018, 12:02

We need a way to monitor the cron job index to ensure that each job is successful. However we also need to not get emails every 15 minutes (unless issues arise)

[2018-10-03 20:39] banukutlu opened #35 "Rake task to download solr/conf from blacklight repo"
In GitLab by @bzk60 on Sep 13, 2018, 12:53

null

[2018-10-03 20:39] banukutlu commented on #35
In GitLab by @bzk60 on Sep 13, 2018, 12:53

assigned to @bzk60

[2018-10-03 20:39] banukutlu commented on #35
In GitLab by @bzk60 on Sep 13, 2018, 13:16

added ~938 label

[2018-10-03 20:39] banukutlu commented on #35
In GitLab by @bzk60 on Sep 13, 2018, 15:49

mentioned in commit 28a787e779f6394e8fd53eb6abedc7af4ef367be

[2018-10-03 20:39] banukutlu commented on #35
In GitLab by @bzk60 on Sep 13, 2018, 15:49

closed

[2018-10-03 20:39] banukutlu commented on #35
In GitLab by @bzk60 on Sep 13, 2018, 15:49

removed ~938 label

[2018-10-03 20:39] #35 closed

[2018-10-03 20:39] banukutlu opened #36 "Index creators and contributors (1xx, 7xx)"
In GitLab by @rkt6 on Sep 19, 2018, 10:42

Come up with methods for indexing creators and contributors for display and basic/advanced search (sort will probably need to be done separately). Attached file includes methods from several other Blacklight institutions.

[creators.rb](/uploads/f030a9337494ff06653f97838a1640bb/creators.rb)

This issue may be a challenge that has to be tackled in phases.

[2018-10-03 20:39] banukutlu commented on #36
In GitLab by @rkt6 on Sep 19, 2018, 13:56

changed the description

[2018-10-03 20:40] #36 closed

[2018-10-03 20:41] banukutlu opened #37 "Mapping preceding and succeeding entry fields"
[serials wiki page](https://github.com/psu-libraries/psulib_blacklight/wiki/Serials-(Title,-Previous,-and-Successive-Publications))

[2018-10-03 20:41] banukutlu commented on #37
In GitLab by @rkt6 on Sep 20, 2018, 10:28

created branch [`37-780-785-preceeding-and-succeeding-entry-display-fields`](https://git.psu.edu/i-tech/psulib_traject/compare/master...37-780-785-preceeding-and-succeeding-entry-display-fields)

[2018-10-03 20:41] banukutlu commented on #37
In GitLab by @rkt6 on Oct 2, 2018, 11:08

mentioned in merge request !9

[2018-10-03 20:41] banukutlu opened #38 "MARC field 880 clean-up"
In GitLab by @mxk128 on Sep 21, 2018, 09:54

An unknown number of erroneous 880 fields exist in The CAT. There will be a need to identify the scope of the errors and investigate strategies for removing the fields in question.

[2018-10-03 20:41] banukutlu commented on #38
In GitLab by @mxk128 on Sep 21, 2018, 14:00

`selcatalog -60 -30 -oC | perl prtmarc.pl -e880 -oCiteB -t$ > all_880s.txt`

[2018-10-03 20:41] banukutlu opened #39 "Questions about our MARC data (Extract MARC fields 440, 260, 254, 306, 020)"
In GitLab by @mxk128 on Sep 21, 2018, 09:59

[2018-10-03 20:41] banukutlu commented on #39
In GitLab by @mxk128 on Sep 21, 2018, 09:59

I've uploaded the results to https://psu.app.box.com/folder/48881797558

[2018-10-03 20:41] banukutlu commented on #39
In GitLab by @mxk128 on Sep 21, 2018, 09:59

closed

[2018-10-03 20:41] banukutlu commented on #39
In GitLab by @mxk128 on Sep 21, 2018, 14:11

[2018-10-03 20:41] #39 closed

[2018-10-03 20:41] banukutlu opened #40 "FATAL Traject::CommandLine: Unexpected exception, terminating execution: #<NoMethodError: undefined method `source_inspect'"
In GitLab by @cdm32 on Sep 26, 2018, 09:59

On a new laptop, with High Sierra

[code]

[2018-10-03 20:41] banukutlu commented on #40
In GitLab by @cdm32 on Sep 26, 2018, 10:00

#28

[2018-10-03 20:41] banukutlu commented on #40
In GitLab by @cdm32 on Sep 26, 2018, 10:03

i had an out of date repo, plz ignore

[2018-10-03 20:42] #40 closed

[2018-10-03 21:29] banukutlu opened #41 "Document how full extracts to Blackcat works"
Related to #25

https://github.com/psu-libraries/psulib_traject/wiki/Full-and-Incremental-Extracts-from-Symphony

   * [x] document why these formats excluded
     `CARRELKEY, EBOOKREADR, EQUIP14DAY, EQUIP24FEE, EQUIP24HR, EQUIP3DAY, EQUIP4HR, EQUIP5DAY, EQUIP7DAY, ILL, LAPTOP, PALCI`

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @bzk60 on Sep 26, 2018, 11:08

mentioned in merge request !3

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @bzk60 on Sep 26, 2018, 11:21

changed the description

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @tbd3 on Sep 26, 2018, 14:23

The process for a full extract to Blackcat will be as follows and this needs to happen all in one day. It can't happen overnight because of adutext clearing out the /sirsi/Unicorn/Database/Edit directory. It can start anytime after adutext finishes it's daily run. This process will be elaborated as the process is fully tested and implemented.

- On the Sy

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @bzk60 on Sep 26, 2018, 14:41

changed the description

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @bzk60 on Sep 26, 2018, 14:41

changed the description

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @bzk60 on Sep 26, 2018, 14:41

@mxk128 @tbd3 can you update the related wiki pages? danke!

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @tbd3 on Sep 26, 2018, 16:17

@bzk60 what related wiki page?

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @tbd3 on Sep 26, 2018, 16:18

Added log rotate for all logs on the symphony server and the blackcat server.

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @cdm32 on Sep 26, 2018, 16:20

🤔 We could add the unicorn server in the mix for deployment so that this is automated. Basically the `blockinfile` or `lineinfile` modules for any specific file manipulations and [`cron`](https://docs.ansible.com/ansible/2.6/modules/cron_module.html) to manage cron tasks could be used too. Might be worth thinking about.

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @bzk60 on Sep 26, 2018, 16:23

@tbd3 check the description at the top there are links to the placeholder wiki pages.

[2018-10-03 21:29] banukutlu commented on #41
In GitLab by @tbd3 on Sep 26, 2018, 16:26

We could do the symphony extract as a report in Workflows too so anyone could run it from Workflows. We somehow would have to manage turning the cron job back on (the one that picks up the incremental changes - deltas) after the index rebuild is done on the blacklight server. We will have to talk about it. I'd like to have the whole thing automated too.

[2018-10-03 21:30] banukutlu commented on #41
In GitLab by @bzk60 on Sep 26, 2018, 16:26

i would love to have this automated with our deployments - so that we do not have different places to manage.

[2018-10-03 21:30] banukutlu commented on #41
In GitLab by @bzk60 on Oct 3, 2018, 13:35

changed the description

[2018-10-03 21:30] banukutlu commented on #41
In GitLab by @bzk60 on Oct 3, 2018, 13:37

changed title from **Document {-how add/updates/deletes process-} works** to **Document {+Sirsi extract to Blackcat+} works**

[2018-10-03 21:30] banukutlu commented on #41
In GitLab by @bzk60 on Oct 3, 2018, 13:37

changed the description

[2018-10-03 21:30] banukutlu commented on #41
In GitLab by @bzk60 on Oct 3, 2018, 13:37

changed title from **Document Sirsi extract to Blackcat works** to **Document {+how +}Sirsi extract to Blackcat works**

[2018-10-03 21:30] banukutlu commented on #41
In GitLab by @bzk60 on Oct 3, 2018, 13:37

changed the description

[2018-10-03 21:30] banukutlu opened #42 "Bound-withs are bound to be an issue"
In GitLab by @mxk128 on Sep 28, 2018, 14:42

How to we index/display Bound-with records. In Symphony these bound-with records don't contain itemids. Some catkeys examples:

[code]

I will provide more examples.

[2018-10-03 21:30] banukutlu commented on #42
In GitLab by @cdm32 on Sep 28, 2018, 14:54

Great issue title @mxk128  I see what you did there

[2018-10-03 21:30] banukutlu opened #43 "Records without itemids"
In GitLab by @mxk128 on Sep 28, 2018, 15:32

During extraction I saw there were bib records that have a call record but no item record. Some reasons are
*  Bound-with records  #42
*  cataloging problem

I will add more as I see them

[2018-10-03 21:30] banukutlu commented on #43
In GitLab by @mxk128 on Sep 28, 2018, 15:33

changed the description

[2018-10-03 21:30] banukutlu opened #44 "Untrack library and locations translation maps"
In GitLab by @bzk60 on Oct 2, 2018, 18:09

Since these translation maps are copied over to blackcat server by a cron job, maybe they should not be tracked?

Connected to #11

[2018-10-03 21:30] banukutlu commented on #44
In GitLab by @bzk60 on Oct 2, 2018, 18:16

changed the description

[2018-10-03 21:30] banukutlu commented on #44
In GitLab by @cdm32 on Oct 2, 2018, 22:12

How they get there should probably be documented, but otherwise, no I agree it's probably not worth keeping in the repo.

Translation maps are used only during the traject processes right?

[2018-10-03 21:35] banukutlu commented on #3
To change remote's URL: git remote set-url origin git@github.com:psu-libraries/psulib_traject.git

[2018-10-04 14:51] banukutlu commented on #36
In GitLab by @rkt6 on Sep 20, 2018, 9:23

Fields edited:

- author_t
- author_addl_t

Field added search:

- all_authors_facet

Fields added display:

- author_person_display
- author_person_vern_display
- author_corp_display
- author_corp_vern_display
- author_meeting_display
- author_meeting_vern_display
- addl_author_display
- addl_author_vern_display

Fields removed display:

- author_display

[2018-10-04 14:53] banukutlu commented on #36
In GitLab by @bzk60 on Sep 20, 2018, 9:46 mentioned in issue https://github.com/psu-libraries/psulib_blacklight/issues/104

[2018-10-04 14:54] banukutlu commented on #36
In GitLab by @cmd32 on Oct 2,2018, 2:55 closed via commit a0955b0f

[2018-10-04 15:11] banukutlu commented on #25
In GitLab by @rkt6 on Sep 11, 2018, 12:00

Per today's conversation, we already have a checkbox noting to "ensure everything not shadowed is extracted" -- we need to be sure this includes SerialsSolutions records for now.

[2018-10-04 15:14] banukutlu commented on #25
In GitLab by @mxk128 on Sep 12, 2018, 11:33

@tbd3 The script to move edited records to Blackcat (in cron on Symphony side) is currently going to /dev/null. It needs to be logged so we can check if the script ran ok and check what errors we got. We can discuss where we want them to go.

[2018-10-04 15:15] banukutlu commented on #25
In GitLab by @tbd3 on Sep 12, 2018, 13:11

That's just the cron job going to /dev/null. The log is being written in the script that cron calls. It goes to /prodat/psulinkages/blackcat/move_edited_records_to_blackcat_log.date.

[2018-10-04 15:16] banukutlu commented on #25
In GitLab by @mxk128 on Sep 12, 2018, 13:35

That dir only has the files with the the deletes and the marc. The logs I'm referring to is the error log. Like what we get at the top of sirsi report outputs.

[2018-10-04 15:16] banukutlu commented on #25
In GitLab by @bzk60 on Sep 12, 2018, 13:45

since we are talking about logs - also traject output should be going to `/var/log/traject/` directory and the traject command to run is:

`bundle exec traject -s log.file=/var/log/traject/traject.log -s log.error_file=/var/log/traject/traject_error.log -c psulib_config.rb /home/ansible_deploy_bot/psucat_20180827.mrc`

[2018-10-04 15:18] banukutlu commented on #25
In GitLab by @tbd3 on Sep 26, 2018, 10:17

The process for a full extract to Blackcat will be as follows and this needs to happen all in one day. It can't happen overnight because of adutext clearing out the /sirsi/Unicorn/Database/Edit directory. It can start anytime after adutext finishes it's daily run. This process will be elaborated as the process is fully tested and implemented.

*  On the S

[2018-10-04 15:19] banukutlu commented on #25
In GitLab by @bzk60 on Sep 26, 2018, 10:32

@mxk128 @tbd3 I think it is worth to create a doc for full indexing process. I added this info here https://github.com/psu-libraries/psulib_traject/wiki/Full-Extract-to-Blackcat. Please add/edit to this doc.

[2018-10-04 15:20] banukutlu commented on #25
In GitLab by @cdm32 on Sep 26, 2018, 13:52

Why do we need to run a "full extract" and index it every day? Why wouldn't we just run updates and deletes?

[2018-10-04 15:21] banukutlu commented on #25
In GitLab by @ tbd3 on Sep 26, 2018, 14:08

@cdm32 We will only run the full extract and full index as needed. The deltas will keep our indexes up to date. In a perfect world, we would only run the full once and just run deltas from that point forward. Why did you think we would run the full extract every day?

[2018-10-04 15:21] banukutlu commented on #25
In GitLab by @bzk60 on Sep 26, 2018, 14:19

Yes we will run the fulls as needed. Just wanted to clarify full extract script will not run a full index - we will take care of the full indexing with ansible.

[2018-10-04 15:22] banukutlu commented on #25
In GitLab by @cdm32 on Sep 26, 2018, 15:39

I guess I misread the title of this issue "Full and Daily extract from Sirsi for Blackcat"

[2018-10-04 15:22] banukutlu commented on #25
In GitLab by @cdm32 on Sep 26, 2018, 15:40

Are "deltas" what you are calling all changes and deletes or just changes? Just want to understand the jargon and make sure I try to use the right terminology.

[2018-10-04 15:23] banukutlu commented on #25
In GitLab by @ tbd3 on Sep 26, 2018, 16:20

@cdm32 By deltas, that means all changes .. adds updates and deletes.

[2018-10-04 15:48] banukutlu commented on #21
In GitLab by @rkt6 on Sep 4, 2018, 13:30 mentioned in psu-libraries/psulib_blacklight#94

[2018-10-04 16:03] banukutlu commented on #17
In GitLab by @rkt6 on Aug 24, 2018, 11:38

Done. demo_output.txt

[2018-10-04 16:04] banukutlu commented on #17
In GitLab by @bzk60 on Aug 24, 2018, 11:59

@mxk128 check output for 2337355
```<datafield tag="245" ind1="1" ind2="0"><subfield code="a">Constraints on the structure of the Fila Coste.</subfield><subfield code="ñ">a fold and thrust belt based on low temperature termochronometry Pacific Coast, Costa Rica /</subfield><subfield code="c">by James R. Arthur.</subfield></datafield>```

`Traject::Marc4J

[2018-10-04 16:05] banukutlu commented on #17
In GitLab by @bzk60 on Aug 30, 2018, 12:48

@rkt6, @mxk128 ran a full index (a month old dump I think Maryam should confirm this) and added two files here https://psu.app.box.com/folder/53004234861 for the list of records with encoding issues. One file only has the catkeys and the other catkeys with skipped subfields. There are some weird catkeys in the list starting with `ocm`. Maryam is checking

[2018-10-04 16:06] banukutlu commented on #17
In GitLab by @bzk60 on Sep 4, 2018, 17:26

assigning this to @rkt6 since the remaining tasks are for her. fyi @mxk128.

[2018-10-04 16:08] banukutlu commented on #17
an updates on cleaning these records up?

[2018-10-04 16:14] banukutlu commented on #14
In GitLab by @rkt6 on Sep 6, 2018, 11:07

Fields added:

- title_245ab_t
- uniform_title_display
- uniform_title_vern_display
- additional_title_display
- additional_title_vern_display
- related_title_display
- related_title_vern_display
- series_title_display
- title_related_t

Fields removed:

- subtitle_t
- subtitle_display
- subtitle_vern_display

Fields renamed:

- title_series_t to series_ti

[2018-10-04 16:27] banukutlu commented on #7
In GitLab by @tbd3 on Jul 3, 2018, 14:34

Keys have been set up for this so files can be scp'd from production Symphony to blackcat01dev without passwords.

[2018-10-04 16:28] banukutlu commented on #7
In GitLab by @tbd3 on Aug 30, 2018, 15:45

@tbd3 as far as I understand you set the ssh keys up for blackcat01qa as well so I am closing this issue. But pls feel free to reopen it if there is still work to be done for this.

[2018-10-04 16:32] banukutlu commented on #5
In GitLab by @bzk60 on Sep 26,2018, 14:34 mentioned in merge request !3

[2018-10-09 21:33] #3 closed

[2018-10-23 13:16] ruthtillman commented on #42
Here are some samples of how others have done it:

Princeton - https://catalog.princeton.edu/catalog/2893853 & https://catalog.princeton.edu/catalog/3023901

Cornell - https://newcatalog.library.cornell.edu/catalog/656258 & https://newcatalog.library.cornell.edu/catalog/1793827

[2018-10-25 16:46] ruthtillman commented on #42
To-dos from 10/25 meeting:

* Jeff and Maryam will experiment with different methods and ordering for the exports. They'll see whether we can get at least the call number/library (not location/item) data for the bound-with records. Items would be gravy but seem unlikely based on how Sirsi displays it.
* Charlie is going to ask NC State about how they extract bound-withs.

We may also contact Stanf

[2018-10-25 17:06] cdmo commented on #42
I emailed a colleague at NCSU just now, will keep you all posted

[2018-10-30 14:45] banukutlu commented on #17
@ruthtillman todo: how to cleanup 245

[2018-11-01 15:38] ruthtillman commented on #17
Re: above -- we'll accept errors and non-indexing in fields other than 245/1xx for the time being. In the long-term we need to clean up anything that isn't a 5xx. 5xxs (notes) are our last priority.

[2018-11-01 15:57] banukutlu commented on #17
@ruthtillman so we can actually move this to a later MVP then right?

[2018-11-02 20:39] banukutlu opened #47 "Records exceeding maximum export size"
Did a full extract and came back with 7 errors our of 7+ million records.

Errors were

[code]

I put in a ticket with Sirsi asking if is there a way to find out which catkeys resulted in the 7 errors.
Their response

So we asked them what do they mean by "just ignore". Does this mean they are included in the dump?

[2018-11-02 20:57] banukutlu commented on #38
@ruthtillman any update on this?

[2018-11-02 21:35] banukutlu opened #48 "Course Reserves extract"
per Ruth:

From our 10/30 meeting. Breaking out structure, problem, and questions in course reserves.

We have two kinds of _thing_ which go on course reserve. The first is existing records, when we already have something, with a full bib record (or purchase the item but get the full bib record), and then put one or more copies on reserve. The second are brief title records, which include title/au

[2018-11-05 19:27] cdmo opened #49 "docker solr instead of solr_wrapper"

[2018-11-06 22:31] #49 closed

[2018-11-07 20:17] mkutch commented on #48
1. 1. We're leaning towards seltools instead of a Symphony report and run this as a cron job to run every X mins.
2. Course reserves are identified by the Reserve Control's Status (i.e. CURRENT) and Reserve's Stage (i.e. ACTIVE) . The Stage determines whether it appears in the catalog under a courser reserve search.  The Status (ie. ON-RESERVE) determines if the circulation rule kicks in.
3. After

[2018-11-07 20:30] banukutlu commented on #48
Since we are planning to have a seperate extract for course reserves and seems that we will not need to change/edit the main extract for course reserves so I am moving this to MVP3.

[2018-11-07 21:00] ruthtillman commented on #14
so FYI I never merged this branch but it's here https://git.psu.edu/i-tech/psulib_traject/blob/issue-14-title-adds-edits-deletes/psulib_config.rb

[2018-11-09 22:11] cdmo opened #52 "schema.xml in Blacklight coordinated update"
Connected to https://github.com/psu-libraries/psulib_blacklight/issues/175

[2018-11-13 13:13] cdmo opened #53 "rubocop psulib_config.rb"

[2018-11-13 19:54] #52 closed

[2018-11-13 20:55] #53 closed

[2018-11-13 22:52] banukutlu commented on #14
new branch https://github.com/psu-libraries/psulib_traject/tree/%2314-index-and-display-titles

[2018-11-14 12:55] cdmo opened #56 "Corrupt 520"
`WARN Marc4JReader: Corrupted MARC data, record id 13804253, field 520, corrupt subfield code byte 65467. Skipping subfield, but continuing with record.`

Just logging this here so I don't lose it.

[2018-11-14 14:15] cdmo commented on #14
@ruthtillman we see that you added `title_related_tsim` but kept `title_added_entry_tsim`. Was that intentional? Most of `title_added_entry_tsim` is encapsulated in `title_related_tsim`, except for a few subfields. It appears to me that both of these fields are trying to capture "potentially related to the title" type fields, but that `title_related_tsim` is a better version? No?

[2018-11-14 15:10] ruthtillman commented on #14
@cdmo yes, but one could the 730 and 740 out of related. Added entry is a bit different than related.

[2018-11-14 15:13] banukutlu commented on #56
Connected to #17

[2018-11-14 15:30] banukutlu commented on #14
So here are the mappings for them:

`title_added_entry_tsim`
[code]

`title_related_tsim`
[code]

740 is exactly same and small differences in others. Looking here https://github.com/psu-libraries/psulib_blacklight/wiki/Title-Fields-Indexing-and-Display we will use related field for display but what are we planning to do with added entry field?

[2018-11-14 15:53] ruthtillman commented on #14
it may be more relevant for title searching. Essentially:

In searching limited to title, we will want to include added entries but not relateds.

Relateds would show up in general keywords and also display in the record, etc. They're essentially two similar but different things. so putting them under the same header in the catalog record would be an ishy choice.

[2018-11-14 15:56] banukutlu commented on #14
OK makes sense, added entry is currently part of title search so we won't add related for title search then?

[2018-11-14 16:48] mkutch commented on #47
I found one the records that was giving the error

`**Record exceeds maximum export size
`

catkey 244318

The issue seems to be the multiple very long Contents notes field (505) .

[2018-11-14 17:37] banukutlu commented on #14
@ruthtillman In the `notes for indexing  and display` section of this issue description there was this note. (moved to wiki page now)
`In titles, retain punctuation.`
Looking at the branch changes search fields does not trim but most of the display fields does:
main title display, uniform title display and related title display trims but  additional title display does not trim. Just wanted to conf

[2018-11-14 18:31] ruthtillman commented on #14
@banukutlu We'll want to retain the punctuation within the title (e.g. / ) but I think not at the end. Let's trim additional display too.

[2018-11-14 19:19] mkutch commented on #47
I put in a ticket with Sirsi also do get some more info/clarification regarding these 5 records.

[2018-11-14 19:30] banukutlu commented on #14
@ruthtillman title fields mapped from `245a` vs `245ab`:  Which one will be used for keyword search, which one for title search?

@cdmo

[2018-11-14 19:55] ruthtillman commented on #14
245ab for keyword. 245a would be exact front title match but we may also want to do match on 245ab. Something like weight 245a at 1, and 245ab at .8 or somesuch.

[2018-11-14 21:45] banukutlu commented on #14
@ruthtillman wanted to confirm that we won't have a seperate vernacular field for series title?

[2018-11-15 13:21] ruthtillman commented on #14
@banukutlu at this point I don't think so, no.

[2018-11-15 21:11] banukutlu commented on #14
@ruthtillman how are we going to display vernacular titles in search results and single record views? do you have an example link to share which would give us an idea?

[2018-11-19 13:41] cdmo commented on #14
@ruthtillman do you know of a record where the `505t` contains the trailing double-hyphen?

[2018-11-19 15:17] ruthtillman commented on #14
@cdmo 12741571

[2018-11-19 15:51] ruthtillman commented on #14
@banukutlu what I'd like to do is display

Vernacular title as title display + link
Latin character title below

Somewhat like this but with _only_ the vernacular title linked: https://catalog.princeton.edu/?f%5Blanguage_facet%5D%5B%5D=Chinese&page=6&q=&search_field=all_fields

and/or like this http://search.library.yale.edu/catalog?utf8=%E2%9C%93&adv%5B1%5D%5Bfield%5D=all_fields&adv%5B1%5D%5Bvalu

[2018-11-19 17:03] cdmo commented on #14
@mkutch provided me with this "binary" marc version of [12741571](https://psu.box.com/s/tijs7pnrxzgsqrgk1bp59iev0zhn6vfy). 0558d475961b07092282fd3cdc6f3142b9829118 processed it.

[2018-11-19 18:46] cdmo commented on #14
@mkutch found an instance, [catkey 420](https://blackcat01qa.libraries.psu.edu/catalog/420), with a trailing slash. We should probably take care of this too, right @ruthtillman?

[2018-11-20 15:18] banukutlu commented on #14
we will not worry about the trailing slashes in 550t since they are only for keyword search.

[2018-11-20 17:13] ruthtillman commented on #22
Genre faceting:

Include:
650|*0|v
655|*0|a
655|*7|a IF subfield 2 == lcgft OR fast

Note, we will also need to remove the term Electronic Books

[2018-11-27 15:10] banukutlu commented on #47
@mkutch can we look into writing a separate dump for these records?

[2018-11-28 19:31] ruthtillman commented on #14
Results look good. Tested searches for titles, subtitles, series titles, related titles, and chapter titles!

[2018-11-28 19:31] #14 closed

[2018-11-28 21:17] mkutch commented on #47
The 2 records that had the "holding_tags table exceeded error

catkey 2168931
catkey 109596

[2018-11-29 16:24] mkutch commented on #42
Jeff says bound-with notes in Sirsi MARC can appear in one of 3 fields.

- 501
- 590
- 591

They are inconsistently used in the CAT and will not exist in many records for filmed-with microform.

There is some question in our minds (Jeff and Maryam) about how Blacklight displays bound- or filmed- with relationships. The Cornell example given above seems to draw the data from somewhere other than th

[2018-11-30 17:10] mkutch commented on #25
@ruthtillman Jeff and Maryam discussed which field to use to export holdings. Originally, 949 was thought to be best, but since there are millions of 949s in The CAT containing legacy data from the LIAS to Sirsi migration (ca., 2001) as well as hundreds of thousands of 949 fields in Bibloaded records (an ongoing practice since the 949 field is used to populate data on the Call Number/Item tab), th

[2018-11-30 18:32] ruthtillman commented on #37
https://github.com/psu-libraries/psulib_blacklight/wiki/Linking-Serials-Fields-(Title,-Previous,-and-Successive-Publications)

[2018-12-03 16:17] banukutlu opened #60 "Setup testing suite"

[2018-12-04 14:45] mkutch commented on #25
I figured out how to edit the raw marc extract, to delete the 949, before sending over the traject for indexing. This is good because then we won't be passing legacy data/dupes over.

[2018-12-04 14:51] mkutch commented on #47
I was going through those 5 large records that had problems exporting and noticed something which I would like if someone (Jeff ?) can clean the records because I am still running into a problem with it. I wrote a script to build the 949s but when I try to convert the file to marc I get

` **Entry too large for data record`

I noticed that the some of the 501 fields are duplicated multiple time.
F

[2018-12-04 15:18] banukutlu commented on #25
@mkutch can you pls document 949s vs 999 here: https://github.com/psu-libraries/psulib_traject/wiki/Full-and-Incremental-Extracts-from-Symphony

[2018-12-04 17:48] mkutch commented on #42
Examples in the CAT of bound with records

Parent
https://cat.libraries.psu.edu/uhtbin/cgisirsi/0/0/0/5?searchdata1=^c355035
Some of its Children
https://cat.libraries.psu.edu/uhtbin/cgisirsi/0/0/0/5?searchdata1=^c1591
https://cat.libraries.psu.edu/uhtbin/cgisirsi/0/0/0/5?searchdata1=^c355055
https://cat.libraries.psu.edu/uhtbin/cgisirsi/0/0/0/5?searchdata1=^c355093

[2018-12-05 16:31] cdmo commented on #60
@banukutlu I tested your feature branch for this locally and it worked with the fixture.mrc data. @mkutch is removing 13 or so records that cannot be made public and adding a change to the 590 and shifting holding information from 949 to 999 all at once to kill a few birds. Once that's in place, I'll add to my `ci` branch and see what Travis says.

[2018-12-06 14:32] cdmo commented on #60
@banukutlu the other thing that I've been thinking about in regards to testing is fixtures vs. stubbing with Traject. SUL seems to do both:

[Fixture-based](https://github.com/sul-dlss/searchworks_traject_indexer/blob/master/spec/lib/traject/config/author_spec.rb)

[Stubbing/mocking](https://github.com/sul-dlss/searchworks_traject_indexer/blob/master/spec/lib/traject/config/format_main_spec.rb)

S

[2018-12-06 14:34] banukutlu commented on #42
@cdmo this sounds great to me. I agree that we do not need to index the field because`all_text_timv` 👍

[2018-12-06 14:47] banukutlu commented on #60
@cdmo yup we can def. do it!

[2018-12-06 15:19] cdmo opened #61 "Mapping holdings information"
https://github.com/psu-libraries/psulib_blacklight/wiki/Holdings-and-Availability-Display

Required by https://github.com/psu-libraries/psulib_blacklight/issues/196

[2018-12-06 17:46] ruthtillman opened #62 "Change fields for related/added entry titles"
The initial use of title subfields in 700/710/711 morphed to full inclusion of the fields in title fields. However, these are related people/corporations/meetings. Upon review, it's not likely practical to put them in even with title subfields, so let's remove entirely. Tasks:

* [x] Remove MARC fields 700/710/711 from title-related fields. Leave in author-related fields.
* [x] Remove from title d

[2018-12-07 19:13] mkutch commented on #25
@ruthtillman I noticed that some records with the following item types which should be shadowed and the item, call or bib level were not being shadowed.

` CARRELKEY, EBOOKREADR, EQUIP14DAY, EQUIP24FEE, EQUIP24HR, EQUIP3DAY, EQUIP4HR, EQUIP5DAY, EQUIP7DAY, ILL, LAPTOP, PALCI`

Talked with Chris H. and he saidthat Campus' don't always follow rule of shadowing these kind of items. see catkey 1408224

[2018-12-07 19:21] banukutlu opened #63 "Incrementals cron"
check this: https://github.com/traject/traject/blob/master/doc/batch_execution.md

- ~Update add/update and delete~ Manage crons
- ~Change path in scripts to run from traject/scripts~
- Update documentation https://github.com/psu-libraries/psulib_traject/wiki/Add,-Update-and-Delete-Records

Requires #71

[2018-12-07 20:48] ruthtillman commented on #25
@mkutch definitely! Assuming that Chris H., et. al., indeed don't want them in the public Cat display, then we should exclude bibs which only have items in those locations from the extract/treat them as additional shadowed locations/however that's smoothest.

[2018-12-07 22:18] banukutlu commented on #60
Connected to #42

[2018-12-10 15:43] banukutlu commented on #62
@ruthtillman can you check the doc https://github.com/psu-libraries/psulib_blacklight/wiki/Title-Fields-Indexing-and-Display if all looks good after removing 700/710/711 from search and display fields.(title_added_entry_tsim, title_related_tsim, related_title_display_ssm)

[2018-12-10 15:50] mkutch commented on #25
Chris agrees that these should be shadowed however he will talk to others (campus, spec collection et al.) to get a consensus and he will let me know. In the meantime I have excluded those item types.

[2018-12-10 20:43] banukutlu commented on #42
@mkutch could you pls update https://github.com/psu-libraries/psulib_traject/wiki/Full-and-Incremental-Extracts-from-Symphony for bound with extract?

[2018-12-10 21:01] banukutlu commented on #25
@mkutch does the new extract you are running uses 999 for holdings? Just trying to figure if that work is completed. If so let's mark it completed.

[2018-12-11 16:23] mkutch commented on #25
The 949 will be used for the holdings. When you do a dump in Sirsi and specify the holdings to go to 949 field, it will remove any legacy (any 949 in the bib) and puts the current holdings in the 949.

[2018-12-12 15:58] #56 closed

[2018-12-12 16:18] banukutlu commented on #44
after discussing this with @cdmo, we will track the maps in the repo but understand that they may not be the latest. we are planning to have a rake task to pull these files down from qa eventually.

[2018-12-12 16:31] banukutlu commented on #31
Is this related to #18?

[2018-12-13 21:01] #60 closed

[2018-12-13 21:08] cdmo commented on #60
We should probably setup CI too for Traject, eh?

[2018-12-13 21:30] banukutlu commented on #60
yeas, will add an issue for it.

[2018-12-13 21:32] banukutlu opened #69 "Setup CI"

[2018-12-14 16:58] banukutlu opened #70 "marc4j reader issue with multiple 001 fields"
using Jruby marc4j reader is only taking the last 001 - when using MRI marc reader is working fine.

An example record with the junk 001: https://blackcat01qa.libraries.psu.edu/catalog/99850589 - catkey should actually be `4059691`

[2018-12-14 20:57] banukutlu commented on #24
We decided to generate custom blackcat junktag list with the below fields:

[code]

[2018-12-14 21:08] mkutch commented on #43
Note - there is an option in to dump

[code]

[2018-12-17 20:11] #70 closed

[2018-12-18 20:15] banukutlu commented on #25
we are closing this issue since we have the full extract working.

[2018-12-18 20:16] banukutlu opened #71 "Daily extracts from Sirsi"

[2018-12-18 20:17] #25 closed

[2018-12-18 20:18] banukutlu commented on #71
Requires #25

[2018-12-18 20:20] banukutlu commented on #70
extracts and reindexing done on qa. we tested catkeys, seems good.

[2018-12-18 21:05] mkutch opened #72 "Make the full extract script to run faster"

[2018-12-18 21:37] cdmo commented on #20
@ruthtillman, I'm curious as to what you'd like the display labels to be for these items. I think "description" on [the table here](https://github.com/psu-libraries/psulib_blacklight/wiki/Material-Characteristics-Fields) is mostly what you want but a couple fields look a bit too long. Maybe we should add a column for "Display label" or something? Also, we don't want any of these fields to display

[2018-12-21 21:23] cdmo commented on #20
Also, here are some sample data for the fields you had some followup notes on:

[code]

[code]

All the `306a`s do indeed look like these:
[code]
So we have to choose between displaying these as `HH:MM:SS` or `HH hour(s) MM minute(s) SS second(s)` or something else -- we'd pluralize only when needed of course.

[2019-01-03 21:13] banukutlu commented on #23
@ruthtillman:
1. do we want to display a subject facet on the sidebar?
2. for subject searching do we want to boost more on any specific subjects for example primary subject having more boost than additional subjects? Or just having one subject field for search with all the listed MARC fields is sufficient?
     Below mappings what we had originally:
    * Primary subject: `600#{ATOU}:610#{ATOU}:6

[2019-01-07 16:00] ruthtillman commented on #20
@cdmo thanks for the sample data! I just updated the documentation with a label column.

[2019-01-07 20:21] ruthtillman commented on #23
1. Yes, and/but let's make it `650|*0|aa:650|*0|x:650|*1|aa650|*1|x:651|*0|a651|*0|x:600abcdtq:610abt:610x:611abt:611x:` for the foreseeable future. This is based on what's in the original traject subject_topic_index and what we're indexing for display

[2019-01-07 20:38] ruthtillman commented on #23
2. Yes, let us value Primary Subject more highly than other subjects.

3. I added a column to the table.

[2019-01-08 13:36] cdmo commented on #20
Just a quick sanity check for me: For a record like [2062626](https://blackcat01qa.libraries.psu.edu/catalog/2062626), we can see [in the CAT](https://cat.libraries.psu.edu/uhtbin/cgisirsi/x/0/0/57/5/0?searchdata1=2062626%7BCKEY%7D&searchfield1=GENERAL%5ESUBJECT%5EGENERAL%5E%5E&user_id=WEBSERVER) it used the label "Playing Time" for `306a` (which matches the [MARC definition](https://www.loc.gov/m

[2019-01-08 13:44] cdmo commented on #20
(deleted a question, nevermind!) :)

[2019-01-08 14:08] banukutlu commented on #23
@ruthtillman  How do we label for the sidebar facet? Subject or Topic or sth else?

[2019-01-08 14:30] cdmo commented on #20
Ok, cool, thanks, I'll take a whack :)

[2019-01-08 14:32] ruthtillman commented on #23
1. Subject
2. For search, yes I think so.

[2019-01-09 15:01] cdmo commented on #20
So here's one pattern:

[code]

And then there's this kind of stuff:

[code]

Sometimes instruments have more then one word:

[code]

Here's another different kind:

[code]

How about we handle rewriting performance values as a post-release feature? There's just a lot of variation and it would take a bit of rinsing and repeating. [Larger, but not complete, sample](https://psu.app.box.com/notes/380

[2019-01-09 16:16] banukutlu commented on #23
@ruthtillman

In the wiki, subject fields table does not include `653`, `654`, `655` and also`647` and `648` are listed but these two fields are not used in either subject search fields (primary and additional subjects) but used for subject_display.  Also some subfields does not seem to be consistent between the wiki and our mappings right now. So I just want to make sure, should I update the wiki

[2019-01-09 18:24] cdmo commented on #20
And one other thing, @ruthtillman, can you check [the wiki](https://github.com/psu-libraries/psulib_blacklight/wiki/Material-Characteristics-Fields) again and let me know if my assumptions about whether or not these fields are multivalued or not are correct?

[2019-01-09 20:07] banukutlu commented on #23
@ruthtillman could you also review the subject facet mapping again? https://github.com/psu-libraries/psulib_blacklight/wiki/Subject-Fields-Index-and-Display#subject-facet

Is this correct `650|*0|aa`?

[2019-01-09 20:38] ruthtillman commented on #20
Having reviewed more data and our current display practice, I'm going to sadly agree that we can improve this as a post-release feature. Perhaps consulting with Bloomington, who worked on this kind of data.

@cdmo your assumption for this field is correct. I'll review the others.

[2019-01-09 20:40] ruthtillman commented on #20
@cdmo one trick you can use use is here: https://www.oclc.org/bibformats/en/3xx/382.html the (R) in "382  Medium of Performance (R)" means the field may repeat. (NR) means it may not repeat. Same in LC's MARC documentation, e.g. https://www.loc.gov/marc/bibliographic/bd264.html

Of course if it's (NR) but we're indexing two MARC fields, then it will normally be potentially multi-valued (the only r

[2019-01-09 21:02] ruthtillman commented on #23
@banukutlu flagging to review first thing tomorrow morning. Of your question and Charlie's today, his was faster to answer.

[2019-01-09 21:33] cdmo commented on #20
Ok, thanks for clearing that up. So shall I add subfield 3 for Musical key?

[2019-01-10 14:38] ruthtillman commented on #23
@banukutlu one quick answer, the repeated a is correct. It's a little weird but occasionally the data may have that. It won't repeat if more than one a doesn't exist.

[2019-01-10 14:46] ruthtillman commented on #23
@banukutlu updated wiki. Added fields requested, removed 655 from index for this, also removed ATOU because I didn't like a couple things it would be indexing so made more specific.

[2019-01-10 16:53] mkutch commented on #72
I modified the full extract script to run certain sections to run parallel jobs.
The full extract pre modification took a little over 20 hours.
The full extract after the modification took approx 5.5 hours!

[2019-01-10 17:05] ruthtillman commented on #20
@cdmo updated the wiki page to add a few 3s to different fields. https://github.com/psu-libraries/psulib_blacklight/wiki/Material-Characteristics-Fields/_compare/49f909300c0aefa01db2c9e1fe6e4e45cbfec9a8...cb2b90bb64d9a00d3a7308116a1ee4768ab05a8d will show which

[2019-01-10 17:06] cdmo commented on #20
Will do, thanks!

[2019-01-10 21:17] #69 closed

[2019-01-11 15:07] banukutlu commented on #23
@ruthtillman an example with the latest mappings:

*  `subject_topic_facet_ssim` is the sidebar facet
*  `subject_tsim` and `subject_addl_tsim` are in keyword search and subject search (along with their unstemmed versions)
*  `subject_display_ssm` and `subject_facet` are used for displaying and linking hierarchical subjects

[code]

[2019-01-11 15:48] banukutlu commented on #11
This feature needs to be explored further before development work to begin.

[2019-01-14 16:43] ruthtillman commented on #23
@banukutlu I tried clarifying -- does that help?

[2019-01-14 20:16] banukutlu commented on #23
yes, it is fine. Thank you!

[2019-01-15 16:14] banukutlu commented on #22
@ruthtillman do we apply the same conditional `IF subfield 2 == lcgft OR fast` to `655` to genre fields for  keyword search as in faceting and display?

[2019-01-17 14:14] #72 closed

[2019-01-17 14:16] mkutch commented on #72
Looks OK . Closing ticket.

[2019-01-17 14:29] banukutlu opened #78 "records with "holding_tags table exceeded" error"
2 records that has the "holding_tags table exceeded" error

[code]

[2019-01-17 16:25] ruthtillman opened #79 "Languages mapping is not always accurate for film"
While 041a should have the variety of actual languages used, it also includes dubs. For videos, this is a problem.

e.g. _Ant-Man and the Wasp_ is not in English, French, Spanish, and Portuguese... https://blackcat01qa.libraries.psu.edu/catalog/25070225

This is a problem that Ruth should sort through because it's a MARC/encoding issue and will require some decisions.

[2019-01-17 20:44] #20 closed

[2019-01-17 20:52] ruthtillman opened #80 "Audience Characteristics indexing, handling subfield m qualifier"
We're currently indexing the following subfields from audience characteristics, 385:

`385ma3`

Unfortunately, they're essentially stacked qualifiers.

3 - pertains to the work being described
m - free-text label for the kind of audience (age group, language group, educational group, etc.)
a - the actual value

This means that putting any of them together looks weird, e.g.

https://blackcat01qa.li

[2019-01-17 21:30] #47 closed

[2019-01-18 16:06] banukutlu opened #81 "Add a date check to make the extract sleep during the backups"

[2019-01-18 16:26] banukutlu opened #82 "Document incrementals extract"
https://github.com/psu-libraries/psulib_traject/wiki/Full-and-Incremental-Extracts-from-Symphony#incrementals

[2019-01-18 16:44] #41 closed

[2019-01-23 01:58] mkutch commented on #42
I noticed that the display of the “Bound in” tag at the title level is misleading. I spoke with Jeff Edmunds about this and he also said the Bound with relationships should never be stated at the tithle level.  See catkey 485144. This title has 289 items under it but only one item is bound with another title(catkey 11749683).
In the CAT you see that the Bound in label is displayed at the holdings/

[2019-01-23 14:32] ruthtillman commented on #42
@mkutch is it possible to add to the extract exactly which edition is bound in another? Perhaps we can review the field and see what's possible? We can also explore this more when displaying the holdings/availability, but I would prefer to see if we can start by being specific at the top level about what's bound in what and then maybe go from there.

[2019-01-23 17:14] ruthtillman commented on #42
Looking at the data in the 949, could we include in the auto-generated 541s something like

949a 949c (949t) bound in [title], e.g.

AY67.N5W7 1922-24 c. 1 (MICROFORM) bound in The World almanac and encyclopedia

or

Microfilm D285 reel.478 no.3575 c.1 (MICROFORM) bound in The high-caste Hindu woman / With introduction by Rachel L. Bodley

I don't know if that means we'd want to separate out a for

[2019-01-23 19:50] banukutlu commented on #42
@ruthtillman
yes, we can include `949a 949c (949t)` in one subfield in our  generated`591s` like
```591 a|Parent format, copy number, call number b| Parent title c| Parent catkey```
 or
if you think we should use a translation map for format, then we will copy `949t` to a separate subfield in our 591s and `949a 949c` in another subfield like
```591 a|Parent format b| Parent copy number, call numbe

[2019-01-23 19:53] ruthtillman commented on #42
For the sake of some symmetry, let's put Parent title in |a, but otherwise I think let's go with 2 if it's feasible.

[2019-01-23 19:58] banukutlu commented on #42
ok what about `591 a|Parent title c| Parent catkey t| Parent format n| Parent copy number, call number` for the subfields?

[2019-01-23 20:52] mkutch commented on #42
I noticed another issue. See  `https://blackcat01qa.libraries.psu.edu/catalog/988373`. This has a bound with item but isn't showing up. I noticed the librarian view doesn't list all the 949s nor the 591.  I went back to the extract and saw this record was broken down into 8 marc records (by sirsi during catalogdump). Since the 591 build happens after the catalogdump it is on the 8th marc record.

[2019-01-23 21:01] banukutlu opened #83 "Bound withs - Add parent info to generated 591 to display"
The display of the "Bound in" tag at the title level is misleading without item info.
eg. catkey [485144](https://blackcat01qa.libraries.psu.edu/catalog/485144). This title has 289 items under it but only one item is bound with another title(catkey [11749683](https://blackcat01qa.libraries.psu.edu/catalog/11749683)).

Add `949a`, `949c`, `949t` to generated 591s:

`591 a|Parent title c| Parent cat

[2019-01-23 21:03] banukutlu commented on #42
Closing this issue - rest of the bound withs will be handled with #83

[2019-01-23 21:03] #42 closed

[2019-01-23 21:16] mkutch commented on #83
I noticed another issue. See https://blackcat01qa.libraries.psu.edu/catalog/988373. This has a bound with item but isn't showing up. I noticed the librarian view doesn't list all the 949s nor the 591. I went back to the extract and saw this record was broken down into 8 marc records (by catalogdump). Since the 591 build happens after the catalogdump it is on the 8th marc record. Checked with the e

[2019-01-24 19:56] banukutlu commented on #31
`marc_publication_date`:

[code]

[2019-01-25 15:08] banukutlu opened #86 "Add a combining reader for split records"
Per Maryam

I can show you what I mean if this sounds confusing.

_Originally posted by @mkutch in https://github.com/psu-libraries/psulib_traject/issues/83#issuecomment-456969097_

Requires #88

[2019-01-25 15:13] banukutlu commented on #86
@mkutch can you upload an example extract for a such record on box?

[2019-01-25 15:54] banukutlu commented on #86
Per Ruth

[2019-01-25 17:13] ruthtillman commented on #31
Notes in successive comments. Note 1:

[code]

We need to also take into account 264|*1|c, because 264 replaces 260, although we still have some old 260s. Only if the second indicator is 1 is it a publication date, though.

[2019-01-25 17:18] ruthtillman commented on #31
Reviewed the rest of the logic and I think it will have to do, specifically to power anything date-related in searching/filtering. Otherwise we will simply display what's in the record itself.

[2019-01-25 18:24] ruthtillman commented on #86
Emailed person at Stanford responsible for their Sirsi exports. Copied Maryam and Banu.

[2019-01-25 19:52] banukutlu commented on #86
Stanford's solution: They added a class that combines the records (https://github.com/sul-dlss/searchworks_traject_indexer/blob/master/lib/traject/readers/marc_combining_reader.rb).

traject config:
https://github.com/sul-dlss/searchworks_traject_indexer/blob/eab76f7c71bf1650189bf9bbeee580e4b19f5c40/lib/traject/config/sirsi_config.rb#L254-L267

[2019-01-25 20:21] ruthtillman commented on #79
[code]

ok, so basically in the short term, I think we're gonna have to essentially cut the above down to:

[code]

I took a look at our current catalog and it includes the 041s only as a special field in the extra data view. It just calls them "Language codes", see ^c25070225, Change Display, View of Records: All, view details page. It's not pretty. And it's not helpful. And it's not being indexe

[2019-01-25 21:46] mkutch opened #88 "Add Marc Holdings to the Bib extract"
this is to add the summary holdings (mhld fields) to the extract.

[2019-01-26 00:57] mkutch commented on #86
@banukutlu @cdmo  I found this which looks like their code in solr marc before the moved/converted their code to traject? Their algorithm is documented too.

https://github.com/solrmarc/stanford-solr-marc/blob/master/core/src/org/solrmarc/marc/CombineMultBibsMhldsReader.java

[2019-01-26 00:58] mkutch commented on #86
@banukutlu @cdmo  I found this which looks like their code in solr marc before they moved/converted their code to traject? Their algorithm is documented too and can be helpful.

https://github.com/solrmarc/stanford-solr-marc/blob/master/core/src/org/solrmarc/marc/CombineMultBibsMhldsReader.java

[2019-01-28 15:20] banukutlu commented on #86
@ruthtillman @cdmo @mkutch
I tried Stanford's class on my local by changing `999` to `949` and it seems to be working. We need to try with different extracts as well. But I want to confirm the MHLD fields that we need to merge in. These are the fields Stanford uses `852 853 863 866 867 868 949`.

[2019-01-29 14:03] banukutlu commented on #31
so, publication year facet mapping should check `008`first, if not that, then `264|*1|c`, if not that, then `260c`.

[2019-01-29 15:45] ruthtillman commented on #83
To-dos from 1/29 meeting:

@banukutlu - run script to combine with the mhlds and see how these a) index, b) combine in the record (put resulting combined MARC record and index debug result in Box?)

@mkutch see how/whether Stanford handles it when there's a number of libraries. Are they grouped by library in display? We may need to look at searchworks code / ask Shelley or a front-end dev how they

[2019-01-29 15:54] ruthtillman commented on #83
Update: re 853, 863, 867, 868 -- they are not registered as catalog tags (whereas 852 https://cat.libraries.psu.edu/uhtbin/Lists/this_tags_info?852,1 and 866 are https://cat.libraries.psu.edu/uhtbin/Lists/this_tags_info?866,1 ). So I didn't need to check with John. Also looking at extracts we only seem to have to worry about 852/866.

[2019-01-29 16:16] ruthtillman commented on #83
Update: IU displays a list of summary holdings by library: https://iucat.iu.edu/catalog/4159565 and then the actual holdings/availability below. Given our number of locations, this seems unlikely to work for us.

And web services doesn't include any location summaries _in the default response I was getting_.

[2019-01-29 17:10] ruthtillman commented on #88
Update: re 853, 863, 867, 868 -- they are not registered as catalog tags (whereas 852 https://cat.libraries.psu.edu/uhtbin/Lists/this_tags_info?852,1 and 866 are https://cat.libraries.psu.edu/uhtbin/Lists/this_tags_info?866,1 ). So I didn't need to check with John. Also looking at extracts we only seem to have to worry about 852/866.

[2019-01-29 17:11] ruthtillman commented on #86
Update: IU displays a list of summary holdings by library: https://iucat.iu.edu/catalog/4159565 and then the actual holdings/availability below. Given our number of locations, this seems unlikely to work for us.

And web services doesn't include any location summaries _in the default response I was getting_.

[2019-01-29 18:36] mkutch commented on #83
I emailed Shelley and she replied back with

[2019-01-29 18:49] ruthtillman commented on #83
Fantastic, then @banukutlu @cdmo you can follow up with the logic + any questions for the devs? We'll want to look at our own data first, but I think that this is a better way of presenting it than the "list alllll the summaries" and then "list allll the holdings separately" for our use case.

[2019-01-29 18:50] mkutch commented on #88
I emailed Shelley from Stanford and she replied back

[2019-01-29 18:57] banukutlu commented on #86
per Ruth

[2019-01-29 19:00] banukutlu commented on #88
per Ruth

[2019-01-29 19:02] mkutch commented on #86
I emailed Shelley from Stanford and she replied back

[2019-01-29 19:25] banukutlu commented on #88
@maryam could you update our sample records file as well so that we have some sample summary holdings?

[2019-01-29 19:34] banukutlu commented on #86
per Ruth

[2019-01-29 20:42] mkutch commented on #86
@ruth I am seeing the 852/866 field in Marc holdings which are also being displayed in the CAT. See below, one the marc holdings field of `catkey 88730` . Christopher Walker could tell us more how/why they use them.

![image](https://user-images.githubusercontent.com/43478453/51938703-c0257100-23db-11e9-9962-681b71b59212.png)

[2019-01-29 20:59] banukutlu commented on #88
@mkutch could you also update the wiki doc pls? https://github.com/psu-libraries/psulib_traject/wiki/Full-and-Incremental-Extracts-from-Symphony

[2019-01-29 22:01] mkutch commented on #88
@banukutlu I put 2 new sample files on box.

[2019-01-29 22:03] mkutch commented on #83
@banukutlu I added the parent info to the extract and created sample records out on box. I didn't add the copy. I noticed the copies seemed to be 1. We can look more into it and what it means.

[2019-01-30 15:25] mkutch commented on #78
@banukutlu I created a script to handle these records that error'ed with "holding_tags table exceeded MAXITEMS". I put the marc rec in box.

[2019-01-31 20:58] #79 closed

[2019-02-04 16:41] ruthtillman commented on #33
Evaluating what others do -- it might be useful in the long term to work through more detailed call numbers, but in the short term, let's use something like the following to get the data from the 050a field if it exists:

https://github.com/tulibraries/tul_cob/blob/master/lib/traject/indexer_config.rb#L197-L200

https://github.com/tulibraries/tul_cob/blob/5d4bce2d57b8971d18cb0ae661c251680a453558/l

[2019-02-04 19:00] cdmo commented on #80
From my reading of [MARC 21 docs](https://www.loc.gov/marc/bibliographic/bd385.html), it looks like `m` should _always_ be a "designator" for `a`.  So, maybe we throw a colon after `m`'s value when it's present then, because that seems to be the desired human-readable output. Age: Children.

You also said "If it were multi-item, it'd be" -- but I haven't seen any examples of multi-item records wit

[2019-02-04 19:18] cdmo commented on #83
@mkutch which one is it? I see files here: https://psu.app.box.com/folder/53004724072 and https://psu.app.box.com/folder/64944165646

[2019-02-04 19:41] cdmo commented on #83
It looks like it's supposed to be this one: [blackcat_boundwith_20190129_sample.mrc](https://psu.box.com/s/7e1trgr609h0oyhvt7dk9h9tbzg0eimy)

[2019-02-04 20:24] ruthtillman commented on #80
I think it's a pretty unlikely combo. We  could go with `m: a` for now.

[2019-02-04 20:40] ruthtillman commented on #83
Ruth, add translation map.

[2019-02-05 16:45] ruthtillman commented on #83
I created a translation map and added it. It should be noted that this map is _only_ for bound-in, as I didn't include item types which couldn't have a bound-in (e.g. equipment). I also shortened some of the property names in order to improve display for this use purpose.

[2019-02-05 18:03] ruthtillman opened #92 "Mapping formats"
https://github.com/psu-libraries/psulib_blacklight/wiki/Formats

[2019-02-05 18:31] cdmo commented on #83
I've updated [the Bound-with wiki page](https://github.com/psu-libraries/psulib_blacklight/wiki/Bound-With-in-Linked-Notes) to reflect this issue, fyi.

Some nuances in the change, so let me know if I'm off.

[2019-02-05 19:10] banukutlu commented on #80
@ruthtillman could you please document this in https://github.com/psu-libraries/psulib_blacklight/wiki/Material-Characteristics-Fields?

[2019-02-05 20:10] ruthtillman commented on #86
Per Christopher, 867 are Supplemental Materials and 868 indexes.

[2019-02-05 21:31] cdmo commented on #83
So let's say we have the following:

![screenshot 2019-02-05 16 28 33](https://user-images.githubusercontent.com/523381/52305494-3ccbc880-2963-11e9-92e8-e8811576453f.png)

How should this look in Blacklight?

Bound in: QE75.C5 no.256-269 (Book) bound in [Sedimentation in small reservoirs on the San Rafael Swell, Utah /](link-to-the-parent item)
Binding notes: Bound with: Sedimentation in small res

[2019-02-07 15:05] banukutlu commented on #86
@ruthtillman so, are we gonna merge these fields? if so they will be in librarian view.

[2019-02-07 19:28] cdmo commented on #15
[wiki page](https://github.com/psu-libraries/psulib_blacklight/wiki/Note-Fields-Index-and-Display)

[2019-02-07 19:33] cdmo commented on #15
@ruthtillman see https://github.com/psu-libraries/psulib_traject/issues/15#issuecomment-426790457

Not sure what that comment means, looks like it came over with the migration from GitLab but maybe never resolved?

[2019-02-07 20:03] cdmo commented on #15
`505t` is already indexed in title related, but for the TOC display I'll use `505agrt` to start.

Here is a sample of what that resulted in:

[code]

[2019-02-07 20:17] ruthtillman commented on #80
updated docs.

[2019-02-07 20:18] ruthtillman commented on #86
@banukutlu yes -- can we talk/look at a sample of how they'd look when merging, though? I'm trying to figure out how we might distinguish these.

[2019-02-07 20:24] cdmo commented on #15
`521| *|3ab:521|8*|3ab:521|3*|3ab:521|4*|3ab`

Should we change that to "Audience Notes"? So as not to confuse with mapping of `385`?

Here's a sample of what `521| *|3ab:521|8*|3ab:521|3*|3ab:521|4*|3ab` comes up with:

[code]

[2019-02-07 20:32] ruthtillman commented on #15
Yep, let's change the 521 label.

[2019-02-07 20:46] cdmo commented on #15
For abstracts, I went with 520ab as a first stab, here's some stuff

[code]

This one feels like maybe not quite right, but maybe?

[2019-02-07 21:21] cdmo commented on #15
Here's a screenshot of a record with a bunch of these new fields, fwiw.

![screenshot](https://user-images.githubusercontent.com/523381/52443680-610adf00-2af4-11e9-9ab5-03bc931fb726.png)

[2019-02-08 18:49] banukutlu commented on #15
@ruthtillman can you make sure if the wiki page is up-to-date for note fields? I will review PRs and use it as reference.

[2019-02-08 19:11] ruthtillman commented on #15
Yep, I updated earlier and then just ran through it, made a couple quick changes to match what I think we should have... and I think it's good to go!

[2019-02-08 20:05] banukutlu commented on #15
@ruthtillman  ```505(???)	Table of Contents``` which subfields? `505agrt`?

[2019-02-08 20:34] ruthtillman commented on #15
Updated. The 583 label was getting lost from an unescaped pipe character.

[2019-02-11 13:45] cdmo commented on #37
@ruthtillman I don't see anywhere how you would like these fields displayed other than to link the text to a search of title. I see 13 proposed fields on this issue, so we'd need them all to have labels. Either that or is the idea that we'd like to combine each set of fields down to one (to make only two multivalued fields)?

[2019-02-11 21:24] ruthtillman commented on #37
Updated wiki page with labels. These were already on the single item view fields, so ensured that labels matched fields already listed.

[2019-02-11 21:36] ruthtillman commented on #86
Ok -- let's export/combine the following fields:

- 852
- 866
- 867
- 868

... and let's see what they look like and how linking of fields can be done. Linking is generally done with subfield 8s. We will want to see if we can group them. We can then use the library code in the 852 to pair with the library codes from the web services availability report.

[2019-02-12 03:18] mkutch commented on #15
Take a look at `catkey 6054326` as an example with a multiple long 501a fields.

[2019-02-12 14:45] banukutlu commented on #37
@ruthtillman could you add more info to search and facet section of the wiki page.  For search, I assume they will be part of keyword search only, nothing else. And probably no facets for these fields but we just need to confirm. thanks!

[2019-02-12 14:49] ruthtillman commented on #37
++

[2019-02-13 16:18] ruthtillman commented on #15
I would be happy to look at that one either a) when it's deployed or b) when it's on folks' machines.

[2019-02-13 17:26] mkutch commented on #15
@ruthtillman Some more records with multiple long 501/505 fields
`244318,
6054326,
7661249,
21312685,
21341765,
21348156
`

[2019-02-13 17:28] banukutlu commented on #15
@mkutch could you add your examples to https://psu.app.box.com/notes/398548730970

[2019-02-14 17:12] banukutlu opened #97 "Media types mapping"
https://github.com/psu-libraries/psulib_blacklight/wiki/Media-Types

[2019-02-14 17:13] banukutlu opened #98 "Mapping URLs"
https://github.com/psu-libraries/psulib_blacklight/wiki/URL-Fields

required by https://github.com/psu-libraries/psulib_blacklight/issues/226

[2019-02-14 21:59] mkutch commented on #15
@ruthtillman @banukutlu I found a Stanford record with a multiple long 501 fields.
See Stanford
 https://searchworks.stanford.edu/view/9557727
and the same record in our catalog
 https://blackcat01qa.libraries.psu.edu/catalog/6053392

[2019-02-19 20:22] ruthtillman commented on #15
QAd -- things look good. But updated/added 588 to the wiki page. Example record: `25731485`.

[2019-02-25 21:19] banukutlu opened #99 "Add 362a mapping as part of materials characteristics"
Related to #20

e.g. 2250556

[2019-02-26 16:26] mkutch opened #100 "Remove review records from extract"

[2019-02-26 19:58] mkutch commented on #100
Review records don't have any items associated with them. So they won't be selected in the extract. Modified extract to reflect it.

[2019-02-27 15:49] mkutch commented on #100
I'm getting rid of legacy review records. Will set their status to delete then run a report to delete them.

[2019-02-27 18:37] ruthtillman commented on #8
Hi all,

sorry for the delay on this. Can we add:

addendum|appendices|appendix|appendixes|cover|excerpt|executive summary|index

to the "notfulltext"? https://github.com/psu-libraries/psulib_traject/blob/f8b6c7aededb444966aa17ff8ba79d9da333b3a2/lib/traject/psulib_config.rb#L323

[2019-03-04 15:57] ruthtillman opened #101 "Include ISSNs in indexing, review ISBNs"
While I'd thought ISSNs were in the default index, only ISBNs are. Review both fields and update as appropriate. Wiki page here: https://github.com/psu-libraries/psulib_blacklight/wiki/ISSNs-and-ISBNs

[2019-03-04 20:49] #22 closed

[2019-03-04 20:50] #80 closed

[2019-03-04 20:54] #15 closed

[2019-03-04 20:54] #31 closed

[2019-03-04 20:54] #18 closed

[2019-03-05 13:46] #83 closed

[2019-03-05 13:50] #88 closed

[2019-03-05 13:50] #86 closed

[2019-03-05 15:08] #100 closed

[2019-03-05 15:37] banukutlu commented on #20
Two follow up issues from Ruth's QA review will handled by #99 and #208

[2019-03-05 15:37] cdmo commented on #101
Just so this is clear, Blacklight has built-in methods for parsing/normalizing/transforming ISBN and ISSN (it's in `StdNum::ISBN` and `StdNum::ISSN`)

[2019-03-05 15:40] cdmo commented on #101
Not sure why ISSN isn't in the default mapping. Probably an oversight. 🤷‍♂️

[2019-03-05 15:47] ruthtillman commented on #101
it's so fundamental I'd just assumed... but maybe it was taken out at one point.

[2019-03-05 15:54] cdmo commented on #101
Reading over the wiki, I didn't see this represented, so I just wanted to put it out there, sometimes ISBNs in our catalog have suffixes like:

`69           isbn                 0884559963 (v. 1) : | 9780884559962 (v. 1)`

or `0071882279 (pbk.)` (for record with catkey 199)

or

`420          isbn                 0802028314 (set) | 0802005365 (v. 11) | 0802048315 (v. 12) | 9780802090591 (v. 13) |

[2019-03-05 15:58] cdmo commented on #101
Some of our `020a`s have some parenthetical suffixes, like [420](blackcat01qa.libraries.psu.edu/catalog/420). I assume they have local meaning when there are multiple separate holdings as a way to add a relationship. Either way, we are stripping them via the core logic of Blacklight's ISBN normalization at the moment. Just noticed this so I thought I'd add it since I didn't see it on the wiki page

[2019-03-05 16:03] cdmo commented on #101
Thanks (and sorry I deleted my comment and re-stated it for clarity)

For 420 we'll index

[code]

And dispaly

[code]

[2019-03-05 16:14] #78 closed

[2019-03-05 17:01] cdmo commented on #101
![screenshot 2019-03-05 11 58 44](https://user-images.githubusercontent.com/523381/53822601-0ff8da00-3f3e-11e9-8cac-015a3d790336.png)

This record, 5826 looks like `020   a| 0854099662 : c| £2.00`

And I think the intention of the colon is display. Should we keep the colon? This is just one example, there are lots of them in the CAT. Also, I'm guessing the intention is to have the price (`c`) be i

[2019-03-05 17:06] ruthtillman commented on #101
no, let's strip spaces/colons.

And re: c, actually maybe let's strip those out? ... it just seems weird to include prices. (and/or can we see whether we get variations of the c other than $?)

[2019-03-05 18:10] cdmo commented on #101
yeah I was wondering about that subfield. Here's some a bunch more subfield `c`s:

[code]

[2019-03-05 18:10] ruthtillman commented on #101
thanks @cdmo ok let's not do c. I'll update the wiki.

[2019-03-05 18:33] cdmo commented on #99
@ruthtillman "Dates of Publication and/or Sequential Designation" appears to be a new field. Just wanted to confirm it's not a change to an existing or a replacement. Also, where should it show up in [the ordered list of fields](https://github.com/psu-libraries/psulib_blacklight/wiki/Blacklight-Catalog-Fields)?

[2019-03-05 19:55] ruthtillman commented on #99
@cdmo added it to just after the join/split section for records since it's related.

[2019-03-07 19:29] cdmo opened #106 "Logic for conditional separaters on Musical Work Number"
stemming from #20

related to https://github.com/psu-libraries/psulib_blacklight/issues/228

[2019-03-12 15:00] banukutlu commented on #92
@ruthtillman So, while working on formats mapping we found some record that has no 008 field. I asked @mkutch  to check if there were more such records. I do have a check for if 008 exists where we need to check this field for formats but just so you know that there are some records with no 008.

[2019-03-12 15:32] mkutch commented on #92
I did some extractions and found we have 344 records without an 008 field. I talked with Jeff E. about this and he said he can see the 008 field in Workflows. However, I mentioned that no 008 field is dumped out when dump the record. He put in a ticket with Sirsi and their response

@ruthtillman Jeff said that it seems that

[2019-03-20 13:42] ruthtillman commented on #101
This all looks good!

[2019-03-20 13:51] ruthtillman commented on #106
Looks good!

[2019-03-20 13:51] #106 closed

[2019-03-20 14:49] banukutlu commented on #101
@ruthtillman Could you pls check ISBN's of this record: https://blackcat01qa.libraries.psu.edu/catalog/21601671

[code]

Seems like we need to decide whether to display subfield q or not and if so how to display?

@cdmo

[2019-03-20 14:53] ruthtillman commented on #101
Ah good catch! So what we'd need to do for the display is index the 020aqq (I think that's how to be sure we catch multiples but maybe one should be sure?) leaving out any c and display each 020 field on its own line.

020 will repeat but you will only have one 020a per 020 (it's specifically non-repeatable)

[2019-03-20 18:38] banukutlu opened #110 "Formats logic updates"
- Update Proceeding/Congress logic so it is `Leader(12)  == 1 OR 008(29) == 1`
- Add `008(26) == g OR 006(09) == g` check to Games/Toys
- Add `006(16) == q OR 008(33) == q` check  to Instructional Material

[2019-03-21 17:01] ruthtillman commented on #99
looks good.

[2019-03-21 17:01] #99 closed

[2019-03-25 20:12] banukutlu opened #112 "Access facet mapping"
https://github.com/psu-libraries/psulib_blacklight/wiki/Access-Facet

[2019-03-26 17:04] banukutlu commented on #97
@ruthtillman are we gonna have a default value for the ones that are not caught by our rules

[2019-03-26 17:05] ruthtillman commented on #97
No, I think in cases where format and media type match -- e.g. a book that's a physical book ... we'll not add on. But if the book is a microfilm, etc. For some it'll always have a media type, like Video.

[2019-03-26 18:00] banukutlu commented on #97
@mkutch could you pls extract 21588551 for me?

[2019-03-27 13:00] banukutlu opened #113 "More updates to formats"
* [x]  Update Games formats logic to cut out some possible mistakes when the record 008 is bad but the main leader value is still ok.
* [x]  Combine Congress and Proceeding/Congress then remove Congress.

[2019-03-28 16:07] banukutlu commented on #112
@ruthtillman I uploaded the list of catkeys whose 949m or 949l has an On Order status: https://psu.app.box.com/file/429531907878

[2019-03-28 20:36] banukutlu commented on #112
@ruthtillman `ZREMOVED` and `XTERNAL` are possible values for 949m but they are not in our non-online library list we use for access facet, what do we consider these copies as?

[2019-03-29 12:54] ruthtillman commented on #112
For `ZREMOVED` and `XTERNAL` can we do Pass?

[2019-04-03 19:24] banukutlu opened #119 "Refactor psulib_marc.rb"
- [x] move subject and genre work out of psulib_marc.rb
- [x] get rid of process_formats and move specs to its own formats specs
- [x] refactor process_publication_date and MarcPubDateProcessor should be thread-safe

[2019-04-03 20:21] #44 closed

[2019-04-03 20:22] banukutlu commented on #44
update: we are tracking library translation map and will decide on locations with #11

[2019-04-03 20:32] banukutlu commented on #112
@ruthtillman https://blackcat01qa.libraries.psu.edu/catalog/10131608 this record has a 949 with two `$m` subfields and one of the library code seems weird and it is not in our list:

![Screen Shot 2019-04-03 at 4 28 20 PM](https://user-images.githubusercontent.com/6477867/55511194-fb3b5f00-562d-11e9-8e69-ff0dac5de215.png)

[2019-04-09 12:26] ruthtillman commented on #112
Checked with rare books cataloger, as it appeared to be a `|MP/MC/R/15.05` following the call number which was causing this issue and being parsed as a second subfield m. Cataloger replies:

[code]

[2019-04-09 19:30] cdmo commented on #63
Some data will be exported to blackcat01qa, once that's there we'll process it with Traject

[2019-04-10 18:41] cdmo opened #121 "Location mapping"
https://github.com/psu-libraries/psulib_blacklight/wiki/Library-Faceting-and-Locations-Management

Required by https://github.com/psu-libraries/psulib_blacklight/issues/269

[2019-04-10 18:42] cdmo commented on #11
as per convo with @ruthtillman, this issue will be just for libraries and campuses, locations will be done in #121

[2019-04-15 19:16] mkutch commented on #71
Setup cron to a daily extract and scp to blackcat01qa.

[2019-04-15 20:20] banukutlu commented on #5
Will be handled with #63

[2019-04-15 20:20] #5 closed

[2019-04-15 20:21] banukutlu commented on #4
Will be handled with #63

[2019-04-15 20:21] #4 closed

[2019-04-16 15:34] ruthtillman opened #125 "Remove test for AVC from material types indexing logic"
Material types going well so far, mostly only issues with records. However, Rob Freeborn & I determined that this line:

https://github.com/psu-libraries/psulib_traject/blob/dc070e94c859548bc597a2f6d5e6d543849439b8/lib/marc_media_type_processor.rb#L33

is mis-indexing stuff with "avc" somewhere in the call number... which happens because we have some strange (but correct) call numbers. Since it wa

[2019-04-16 20:43] banukutlu commented on #37
@ruthtillman catkey: 10407665 does it suppose to display a preceding entry? there is no indicator2.

[2019-04-16 20:58] ruthtillman commented on #37
@banukutlu I looked up the record in OCLC, it is supposed to have two indicator 0s. I edited the copy in our cat with the correction.

[2019-04-18 14:21] banukutlu commented on #33
Closing this since we decided to use `050` for call numbers. For more info:  https://github.com/psu-libraries/psulib_blacklight/wiki/Call-Number-Index-and-Display

[2019-04-18 14:21] #33 closed

[2019-04-19 14:10] cdmo commented on #119
So should this go to the backlog again because 2/3 of the tasks are done?

[2019-04-19 14:37] banukutlu commented on #119
yup 👍

[2019-04-24 14:49] banukutlu commented on #6
Closing this issue because we decided to disable spellchecker - will be handled by psu-libraries/psulib_blacklight#250

[2019-04-24 14:49] #6 closed

[2019-04-24 17:05] banukutlu commented on #38
@ruthtillman I am moving this out of MVP1

[2019-04-24 17:12] banukutlu commented on #17
@ruthtillman moving this out of MVP1, looks more like post initial release?

[2019-04-24 19:13] cdmo commented on #63
see https://github.com/psu-stewardship/psulib_blacklight_deploy/issues/29

[2019-04-25 14:34] mkutch commented on #43
We are not extracting bib records that have a call record but no item record AND are not boundwith. For example catkeys `10329251` `1686033` `1185362` `2218122`.
That means that Special collections records like  i.e. `17280249` `1553014` `7399608 `are not extracted also.
Do we want to have them fix the bib records?

[2019-04-25 15:00] banukutlu commented on #82
per @mkutch

[2019-04-25 15:03] banukutlu commented on #81
per @mkutch

[2019-04-25 15:03] #81 closed

[2019-04-25 15:22] #82 closed

[2019-04-29 13:08] banukutlu opened #132 "Indexing concurrency problem"
regexes + capture groups are broken by design when used in lambdas: `https://github.com/jruby/jruby/issues/4868`

Stanford's workaround: https://github.com/sul-dlss/searchworks_traject_indexer/blob/master/lib/traject/config/sirsi_config.rb#L1982-L1990

[2019-04-29 14:24] cdmo commented on #132
We fixed this with a BIG help from Chris Beer from SUL. The problem is that jruby acts differently then MRI in regards to regex.

See https://github.com/jruby/jruby/issues/4868 and solution in https://github.com/sul-dlss/searchworks_traject_indexer/blob/master/lib/traject/config/sirsi_config.rb#L1982-L1990

Patch to close this coming soon

[2019-04-29 15:04] cdmo opened #134 "Review regex usage"
Make fixes as needed as per #133

[2019-04-29 17:24] #132 closed

[2019-04-30 13:05] ruthtillman commented on #101
Do we have a plan to resolve the issue of displaying format qualifiers in line with ISBNs? https://blackcat01qa.libraries.psu.edu/catalog/22599844

[2019-04-30 13:24] banukutlu commented on #34
Handled by #63

[2019-04-30 13:24] #34 closed

[2019-04-30 14:44] banukutlu commented on #134
@cdmo I put my fixes in the [134-regex-fixes](https://github.com/psu-libraries/psulib_traject/tree/134-regex-fixes) branch. I do not seem to find any other problematics ones so handing this to you for another pass over our mapping rules.

[2019-04-30 16:04] #98 closed

[2019-04-30 16:34] #125 closed

[2019-04-30 16:35] #113 closed

[2019-04-30 16:35] #112 closed

[2019-04-30 16:35] #11 closed

[2019-04-30 16:35] #8 closed

[2019-04-30 16:35] #37 closed

[2019-04-30 16:36] #32 closed

[2019-04-30 16:37] ruthtillman commented on #92
The 008 issue can move to cleanup for cataloging.

[2019-04-30 16:39] #97 closed

[2019-04-30 16:39] #92 closed

[2019-04-30 16:40] #110 closed

[2019-04-30 17:08] #71 closed

[2019-05-01 13:57] ruthtillman commented on #43
I've taken a look at these in both Workflows and The Cat and will be meeting with Annie later today. I hope she'll provide some guidance on next steps. Possibilities may include turning these over to collections maintenance as a report/printout so that they can try tracking them down and add items for ones that exist, or accepting that we just won't include them. I'll update when we get to it.

(w

[2019-05-01 19:16] cdmo opened #136 "Consider testing strategy for incrementals rake task"

[2019-05-03 15:57] cdmo commented on #63
Closing this since the PR was reviewed for Traject. https://github.com/psu-libraries/psulib_traject/pull/135 should have closed it.

[2019-05-03 15:57] #63 closed

[2019-05-06 19:51] #101 closed

[2019-05-07 14:59] banukutlu opened #143 "Hourly extracts from Sirsi"

[2019-05-07 20:37] #19 closed

[2019-05-08 14:39] #119 closed

[2019-05-08 14:40] #134 closed

[2019-05-10 20:16] cdmo opened #146 "Production incrementals"
We need to keep QA and Prod up to date with incremetnals.

[2019-05-10 20:21] cdmo commented on #146
Hey @mkutch can you make a second stream of content for production solr? maybe change the directory for `/data/symphony_data/daily` to `/data/symphony_data/daily_qa` and then make another for `/data/symphony_data/daily_prod`. What do you think?

[2019-05-14 13:34] banukutlu commented on #61
Closing this since holdings are already mapped and for availability we will be using the Sirsi webservices.

[2019-05-14 13:34] #61 closed

[2019-05-15 12:22] cdmo commented on #143
@mkutch and I created the hourly data directories, and I'm working on updating the rake task to handle hourly and daily now

[2019-05-16 20:20] mkutch commented on #43
@ruthtillman I uploaded on box 2 files

bibrecs_withno_items_not_speccol.txt
bibrecs_withno_items_speccol.txt

The fields of the pipe-delimited files are
[code]

[2019-05-28 15:13] ruthtillman commented on #38
@banukutlu @mkutch when we do the next full extract and traject run, can we get all records with 880 fields generating errors? Just catkeys is enough. I think this would be in the error log. I can then pass it on for review/cleanup

[2019-05-28 15:24] ruthtillman commented on #17
Prepared data cleanup spreadsheet for non-5xx.

[2019-05-28 15:31] banukutlu commented on #38
sure we can get those catkeys - they will be in our traject logs.
@cdmo

[2019-05-29 14:23] mkutch opened #154 "Another **Record exceeds maximum export size"
Did a full extract and now an new record popped up with the error `**Record exceeds maximum export size.   `  I have to dig down and find which record did this. We might want to look into have cataloging sometime look into cleaning up these 8 records if possible as Sirsi suggested.

[2019-05-29 19:05] mkutch commented on #154
Found the catkey that caused this error `25380603` .

[2019-06-13 15:33] cdmo commented on #143
The hourly data is now appearing, @mkutch has done her job. Now I will work on importing this data on the traject side.

[2019-06-17 18:54] cdmo commented on #143
Pending resolution to https://github.com/psu-libraries/psulib_blacklight/issues/286

[2019-06-18 13:51] cdmo commented on #143
All set

[2019-06-18 13:51] #143 closed

[2019-06-18 18:02] ruthtillman opened #162 "Index fields for Illiad"
Some of our fields need to be structured differently to be added to Illiad.

We will need to pass the following fields to Illiad (if exist):

- title
- primary author (person/corporation/meeting)
- isbn
- publication date
- OCLC no
- Call number
- where did you find this item cited (we will want to send the new catalog URL)

We will need to add the following indexing:

- publication date (and/or r

[2019-06-18 18:17] ruthtillman opened #163 "Remove date 9999 from consideration"
The date 9999 is supposed to be used when things are open-ended. It's sometimes also used because of poor data choices.

We do not want it to carry any weight in:

1. date ranges (e.g. facet)
2. relevancy ranking

Example records?

[2019-06-19 20:34] banukutlu commented on #162
@ruthtillman I am assuming we are adding these mappings as new fields and not changing the current logic for the field we use for to populate publication year facet and publication display.

[2019-06-20 14:09] ruthtillman commented on #162
@banukutlu correct, these are new fields, not changes.

[2019-06-20 14:17] ruthtillman commented on #162
https://github.com/psu-libraries/psulib_blacklight/wiki/OCLC-Number

[2019-06-24 19:41] ruthtillman commented on #163
https://www.oclc.org/bibformats/en/fixedfield/dates.html

[2019-06-24 19:53] ruthtillman commented on #163
Things we discussed:

1. If date is _only_ 9999, then make it have no date? Or does this break the system?
2. If having no date breaks the system, then should we substitute some kind of range like 1990-2010 generically?

[2019-06-25 13:49] banukutlu opened #166 "Index fields for Aeon"
https://github.com/psu-libraries/psulib_blacklight/wiki/Publication-Info-Fields-Index-and-Display#publication-info-for-illiad-and-aeon

[2019-06-26 19:04] ruthtillman opened #167 "Index specialized sublocation for Aeon"
We will need to index 799a for the sublocation to be passed to Aeon. Sample record: c107

@mkutch needs to first see if this is being extracted or not because it doesn't seem to be in our MARC exports.

OR, should we use the staff notes if sending to Aeon? See the staff notes on the response, which would have the right location for each particular item https://cat.libraries.psu.edu:28443/symwsbc/r

[2019-06-26 19:17] ruthtillman commented on #167
Re: the staff note, we'd just need to test a lot to be sure that they're the kind of data we want.

[2019-06-26 20:55] mkutch commented on #167
@ruthtillman I've been reading the webservices documentation and there is another webservice variable we can add and turn at end of url .
It is marcEntryFilter and it has values ALL, BRIEF, FULL, NONE, TEMPLATE
This will give us the MARC data! Each value refers to what has been set to display in the policy (we see it when we do a Change Display in the CAT).

https://cat.libraries.psu.edu:9443/symw

[2019-06-26 22:50] mkutch commented on #167
@ruthtillman It’s best not to use Staff notes field in this case. Staff notes can contain anything (i.e. Hathitrust notes, Digitization notes, etc)

[2019-06-27 12:18] ruthtillman commented on #167
@mkutch 👍 this is unfortunate, because it would have allowed us to pair the actual item with the subLocation. Can we ask folks in SCL whether the subLocation field is actually useful when we may be passing the wrong one, since we're only passing one 799 field now?

- should we pass all 799 fields?
- should we just index the first one since we're only ever passing one?

[2019-06-28 16:16] cdmo opened #170 "Create a scheduled opportunity for a full extract"
as per conversation with @mkutch resulting in [this sketch](https://psu.box.com/s/fookxdvzb0u5jy3d23bwtem576d270q3)

[2019-07-02 14:07] cdmo commented on #146
This is in place

[2019-07-02 14:07] #146 closed

[2019-07-02 20:03] #162 closed

[2019-07-02 20:05] #166 closed

[2019-07-09 13:45] ruthtillman opened #172 "Fixing one issue with Archives/Manuscripts"
One of the reasons "regular" books are ending up in the Archives/Manuscripts area is that a few campuses are putting the 949t as ARCHIVES when they keep a copy with their archival materials. However, the leader(6-7) is still "am" not "tm." Other copies may be in regular shelves at other locations. Based on the number of books, it looks like the most efficient fix would be to prioritize the leader

[2019-07-16 19:38] ruthtillman opened #173 "Serials Solutions Arabic records with weird characters"
e.g. catkeys: 20518884, 26996859 - these catkeys expired, need example records @ruthtillman

low priority since they're serials solutions.

[2019-07-16 19:41] ruthtillman opened #174 "Date ordering or hyphen/period on wrong side"
catkey: 8278207 (date, with "fl" abbreviation shows up at the wrong end of the name)

catkey: 22342875 hyphen shows up at wrong end of date

[2019-07-16 19:43] ruthtillman opened #175 "Not indexing 880 fields if the 264 second indicator not present in them"
When 264 *1 and the 880 linked is simply 264 **, it is not indexed for display. These are primarily older records which were updated from 260 to 264. Example catkeys:

- 9761702
- 9489166
- 6488911
- 9488924

[2019-07-16 19:45] ruthtillman opened #176 "Periods at the wrong end of right-to-left transliterated languages"
e.g. Arabic. Affected fields include edition and publication. The field is displaying correctly right-to-left, but the period is on the right side, as in English. Example catkeys:

- 22342875
- 12145197

[2019-07-16 19:47] ruthtillman opened #177 "Display of uncertain dates weird in Arabic"
Check how this record exported to begin with, as MARC display doesn't match MARC in Sirsi.

- 8743317

[2019-07-16 19:48] ruthtillman opened #178 "= sign is displaying wrong on parallel titles in Arabic"
In a parallel title field, the title order should be Title A = Title B (if it's left-to-right). If Title A is Arabic and Title B is English, it's displaying =TitleATitleB instead. catkey

- 14719316

[2019-07-18 14:35] ruthtillman commented on #176
Research note: Princeton has this done correctly.

[2019-07-18 19:32] cdmo opened #180 "Full extract import schedule"
[brainstorm](https://psu.app.box.com/file/478633527711)

document on https://github.com/psu-libraries/psulib_traject/wiki/Add,-Update-and-Delete-Records when done

[2019-07-18 20:01] ruthtillman opened #181 "Make OCLC (035) number and LCCN (010) keyword searchable"
We need the identifiers solr field to be part of keword search.

## WDDLL

Search for `63164241`  in keyword should pull up the same thing as https://catalog.libraries.psu.edu/catalog?commit=Search&op=AND&all_fields=&title=&author=&subject=&identifiers=63164241+&series=&publisher=&range%5Bpub_date_itsi%5D%5Bbegin%5D=&range%5Bpub_date_itsi%5D%5Bend%5D=&sort=score+desc%2C+pub_date_itsi+desc%2C+title

[2019-07-19 16:32] banukutlu commented on #172
@ruthtillman do you have any example catkeys?

[2019-07-19 18:22] ruthtillman commented on #172
Sample catkeys with this issue:

- 1968855
- 1586824
- 20821274
- 17742510

(these include a variety of book types, but even books about archives should just be Books)

[2019-07-24 19:41] ruthtillman opened #183 "Equity changes missing from LC Facet"
Somehow these didn't get merged. The full proper list can be found here:

https://github.com/projectblacklight/blacklight-marc/blob/674a7c86a45fe19326345423620a2ee903879033/lib/generators/blacklight/marc/templates/config/translation_maps/callnumber_map.properties

This is in our: lib/translation_maps/callnumber_map.properties

Update before tomorrow's reindex?

[2019-07-26 17:49] ruthtillman opened #185 "Add 655 rbgenr to indexed genres"
When we index genres, we test to see if they're in one of a few vocabularies.

Processing test is here: https://github.com/psu-libraries/psulib_traject/blob/main/lib/psulib_traject/macros.rb#L14-L29

vocabulary list is here: https://github.com/psu-libraries/psulib_traject/blob/main/lib/psulib_traject/macros.rb#L19

We want to add several vocabularies to support rare books. These are:

[code]

We d

[2019-07-26 17:50] #183 closed

[2019-07-26 20:41] banukutlu commented on #154
Closing this since the record is indexed since

per @mkutch

[2019-07-26 20:41] #154 closed

[2019-07-30 16:09] #172 closed

[2019-08-01 16:05] ruthtillman opened #186 "Address govt publication complication w/university presses"
When "University" and "Press" aren't together, in the press's name, it still shows up as a government document. "Penn State University Press" would be caught. "University of Michigan Press" would not. Can we change this:

https://github.com/psu-libraries/psulib_traject/blob/80d4014d1f43e39dd1ba0ae917fb8cc790a0ae38/lib/marc_format_processor.rb#L120-L124

to a contains search vs. a phrase search?

E

[2019-08-05 19:40] cdmo commented on #38
Here's [a list of catkeys](https://psu.app.box.com/notes/502365106563) from the last index run on prod using the 7/25/19 extract

[2019-08-07 17:58] ruthtillman opened #189 "Index 993 for endowment information"
First pass at endowment support. See https://github.com/psu-libraries/psulib_blacklight/wiki/Endowments-and-Dedications#keyword-search

Overview:

- 993a & 993n keyword searchable
- some method of directly linking to a search for all 993a - it doesn't have to be in the advanced search dropdown or anything, just a field we can give to Karen S et. al to link to (and also use in the display?)

We wou

[2019-08-12 15:29] #43 closed

[2019-08-12 18:10] ruthtillman commented on #17
Checked these should all be done

[2019-08-12 18:10] #17 closed

[2019-08-12 19:14] ruthtillman commented on #38
Some are fixed. I sent the rest to Mono team.

[2019-08-12 19:14] #38 closed

[2019-08-13 13:24] ruthtillman opened #190 "Index titles for better display"
The inconsistent use of subfield |h in titles means that some titles have desired / and some don't.

Possible solutions:

* Strip all "/ " and add back in
* index subfield h if exists (easiest, but not best practice/makes titles longer)
* ?

Example record:

https://catalog.libraries.psu.edu/catalog/5426838

Title appears as: Arcadia Tom Stoppard

Title should appear as: Arcadia / Tom Stoppard

[2019-08-20 14:23] ruthtillman commented on #190
If subfield h exists:

- add slash before subfield c.

else:

- don't

[2019-08-20 14:42] ruthtillman commented on #180
Adding in incrementals processing

[2019-08-22 12:36] cdmo commented on #189
Related to https://github.com/psu-libraries/psulib_blacklight/issues/432

[2019-08-22 12:39] cdmo commented on #170
This is the original really, but #180 has more info.

[2019-08-22 12:39] #170 closed

[2019-09-03 17:15] mkutch commented on #167
Last week I cleaned up the marc records which had duplicate 799 fields. Now there should only be one 799 for each bib record.  The 799 field needs to be added to Special Collections Aeon requests because they need it to be on their call slips.
See Jun 26 post above to see how you can get the 799 field via webservice call.

[2019-09-09 13:07] ruthtillman opened #193 "Indexing 099 for special collections collection number"
099 is the local free-text call number.

Value is 099a. Needs to be searchable.

[2019-09-09 19:15] ruthtillman commented on #167
Updated the Aeon wiki page.

[2019-09-20 12:55] ruthtillman opened #195 "Summon reloaded records don't have persistent IDs"
A subset of Summon subscriptions get reloaded through a delete/load process to ensure only current coverage in the catalog. This leads to primary keys getting retired and 404 pages. For these records, could we use the serialssolutions ID as the ID in the URL instead?

Example would be: https://catalog.libraries.psu.edu/catalog/27763009/

035 contains: ss360mi0047732

Note -- Ruth needs to consult

[2019-10-23 17:47] ruthtillman commented on #121
Controlled list of excludes is here: https://github.com/psu-libraries/psulib_blacklight/wiki/Library-Faceting-and-Locations-Management#locations-advanced-search

[2019-10-24 17:33] ruthtillman opened #198 "Public vs. Staff Notes in MARC view."
We've received a comment that staff notes in the 949 fields are not visible in the MARC view of the CAT. These may be just functional, but they're not evaluated for appropriateness for public visibility. However, public notes are kept in the same field. This is 949 subfield o. View the MARC records of the records below for examples of each. They will have .STAFF or .PUBLIC in the subfield o, depen

[2019-10-28 20:09] banukutlu opened #199 "Remove `799` from related title mapping"
Remove `799lktmnoprs` mapping from related title

[2019-10-30 20:01] cdmo opened #200 "add a license"
related: https://github.com/psu-libraries/psulib_blacklight/issues/502

[2019-10-31 00:59] #167 closed

[2019-10-31 00:59] #199 closed

[2019-10-31 04:25] #200 closed

[2020-01-07 16:09] ruthtillman commented on #190
closed by https://github.com/psu-libraries/psulib_traject/pull/202

[2020-01-07 16:09] #190 closed

[2020-02-06 20:13] ruthtillman opened #203 "Set up logging to alert when indexing paused"
We need improved logging and alerts to notify us when changes, updates, and deletes are not making it from Symphony into Solr. We should update Sematex monitoring so that extracts do not build up.

Triggering use case: If Symphony hourly or daily extracts build up without being indexed, we need to be notified.

Additional cases to consider:

- We need to be notified if Symphony hourly/daily extrac

[2020-02-07 20:00] cdmo commented on #203
Just wanted to tie this to #180 too because we don't consider our work with the traject pipeline completely finished. Hopefully we can get to this after the MyAccount milestone

[2020-05-18 16:50] banukutlu opened #204 "Map HathiTrust overlap data"
Using the overlap file, index data into the Solr collection so faceting is available.

- Volume Identifier - `htid`
- HathiTrust Record Number - `ht_bib_key`
- Access Code - `access`

## Include Hathi ETAS on/off toggle in `Settings`

When on: access facet is set to online for denies
When off: access facet is not set for denies

https://www.hathitrust.org/how-to-add-etas-records-to-your-catalog#Ha

[2020-05-21 23:22] cdmo commented on #204
For what we are trying to do (add records to the access online facet) I don't think we need to add anything to the index, instead we can just do a lookup in the access facet field processing.

[2020-05-22 17:23] cdmo commented on #204
@banukutlu and I just chatted for a bit and confirmed we need htid and that will replace the need for the bibapi javascript call we make in blackcat

[2020-05-29 17:06] cdmo commented on #204
I'm merging your branch into mine @banukutlu, continue the work

[2020-06-02 21:25] cdmo opened #211 "Replace indexer settings with config gem"

[2020-06-03 20:36] cdmo opened #212 "Ingest htid links to HathiTrust"
see https://github.com/psu-libraries/psulib_blacklight/issues/585

The link will go to the viewer for the item, not the catalog record. Will synthesize overlap report to derive this data.

[2020-06-05 18:42] banukutlu opened #213 "Automate synthesizing hathitrust overlap data w/ rake tasks"

[2020-06-11 02:21] cdmo commented on #213
shouldn't this be closed?

[2020-06-11 02:21] #213 closed

[2020-06-11 02:26] cdmo commented on #212
Initially I think i had thought of htid integration separately from ht_bib_key, but I can see that they have to be handled at the same time. Closing dupe of #204

[2020-06-11 02:26] #212 closed

[2020-06-18 20:48] banukutlu opened #219 "Match on rows with multiple oclc's in hathitrust full file."
rows with multiple oclc's from hathi full file seems to be not matching. examples:
[code]

[code]

[code]

[code]

More examples: [diff_multi_splitted.txt](https://psu.app.box.com/file/694397009279) and [diff_mono_splitted.txt](https://psu.app.box.com/file/694396857592)

[2020-07-13 12:32] cdmo commented on #204
The review of this is covered by #585, so I'm closing this one.

[2020-07-13 12:32] #204 closed

[2020-07-17 16:55] mkutch opened #224 "Record is an ETAS record but is not showing the Hathitrust ETAS link"
Catkey `3689599` doesn't show ETAS link in catalog but does in the CAT. I checked Hathitrust and it has temporary access through ETAS.

[2020-07-17 18:42] banukutlu opened #221 "Hathi data indexer bug for records with multiple deny"
example catkey `3689599`, doesn't show ETAS in catalog but it is temporary access.

[2020-07-20 12:55] banukutlu commented on #221
duplicate of 224

[2020-07-20 12:55] #221 closed

[2020-07-22 17:15] ruthtillman commented on #224
looks good!

[2020-07-22 17:19] ruthtillman commented on #219
I'm seeing each of these as I would expect for its allow/deny status.

[2020-07-22 17:19] #219 closed

[2020-07-30 13:26] mkutch opened #226 "Mismatch on OCLC number results in miss"
Catkey `3148764` doesn't show ETAS link in catalog but does in the CAT. I checked Hathitrust and it has temporary access through ETAS.

[2020-07-31 17:58] cdmo commented on #224
I am closing this one back up because @mkutch created a separate issue for the new ETAS miss she discovered which can be seen at #226

[2020-07-31 17:58] #224 closed

[2020-08-03 21:47] mkutch opened #227 "HathiTrust strips leading "0" characters resulting in misses"
Catkey `1036885` doesn't show ETAS link in catalog but does in the CAT. I checked Hathitrust and it has temporary access through ETAS.
Talked with Charlie and it seems to be an issue with the leading 0s in the oclc number. I will look to see how many oclc numbers with leading zeros were sent to Hathi and then returned in the overlap report and let you know.

[2020-08-04 18:11] banukutlu opened #228 "Mismatch on Hathi records with OCLC number containing leading zeros"

[2020-08-04 18:14] #228 closed

[2020-08-04 18:15] banukutlu commented on #228
duplicate of #227

[2020-08-05 20:32] banukutlu opened #230 "Curbside Pickup change of logic for Hathi Public Domain"
https://github.com/psu-libraries/psulib_blacklight/wiki/Google-Books-and-HathiTrust-Integration-Links#curbside-pickup-change-of-logic-for-public-domain

eg. catkey: 737403
[code]
 should be indexed with deny as ETAS record and I want It would be suppressed during ETAS period.

[2020-08-06 11:27] cdmo commented on #230
Just to clarify:

a `multi` with `allow` and `deny` should be indexed with the `ht_bib_key` and be marked as `true` for `etas` and the url to HathiTrust should be appended with the sign in suffix.

The two different parts are the sign in suffix and marking as etas.

[2020-08-06 15:05] #227 closed

[2020-08-06 15:05] cdmo commented on #228
I am closing this but @mkutch let is know if you see anything

[2020-08-06 15:06] cdmo commented on #226
Closing this but if you see any issues @mkutch let is know

[2020-08-06 15:06] #226 closed

[2020-08-07 20:15] #230 closed

[2020-08-10 21:19] cdmo opened #232 "Daily deletes on QA"
SOLR_URL env

[2020-08-24 17:46] cdmo opened #236 "Enrage the logs with lograge"

[2020-08-27 14:09] cdmo commented on #232
fixed

[2020-08-27 14:09] #232 closed

[2020-09-01 14:40] ruthtillman opened #239 "Update format index to add Articles"
Update formats mapping so that if leader[6] == `a` AND leader[7] == `a` the format is Article

https://github.com/psu-libraries/psulib_blacklight/wiki/Formats#formats-mapping

Sample catkeys:

* 31199600
* 31199627
* 31201441

[2020-09-02 14:43] ruthtillman opened #240 "Review changing record updates to increase indexing frequency"
What can we do to increase the frequency of record updates? Things to allow for include possibility of overlaps, etc..

Related ticket:  [Symphony blackcat extracts every 15 min #309](https://github.com/psu-libraries/Symphony/issues/309)

[2020-09-02 15:09] cdmo commented on #240
we currently start hourlies at 7am. Do we want to keep it that way or change to 6am?

[2020-09-02 15:36] ruthtillman commented on #240
7 is ok now that we have the overnight load

[2020-09-10 14:09] ruthtillman opened #241 "Index 099a so that it's in keyword search"
Cataloging is making the 099a into a canonical field for mapping special collections accessioning numbers. It does not appear to be indexed in keyword search.

Examples:
* Search for 09715 should get https://catalog.libraries.psu.edu/catalog/16418026
* 09844 should get https://catalog.libraries.psu.edu/catalog/21330529
* 09981 should get https://catalog.libraries.psu.edu/catalog/26782112

[2020-09-18 01:37] cdmo opened #243 "datadog"

[2020-09-22 14:30] cdmo commented on #211
this is done

[2020-09-22 14:30] #211 closed

[2020-09-22 14:51] banukutlu commented on #186
@ruthtillman is this closed mistakenly, maybe?

[2020-09-22 14:52] ruthtillman commented on #186
Yes, I was closing the others and accidentally hit it too. Thanks.

[2020-09-22 15:20] ruthtillman commented on #241
If this is something fairly easy to just get into the keyword index (no need to display), then can we add it to current indexing work? If it's more complex, we can wait a little bit on it.

[2020-09-22 15:22] ruthtillman commented on #186
Updated the wiki to clarify that the goal of this change is to find every instance of "University" AND "Press" in 264s.

University of Michigan Press and Penn State University Press should both be caught.

[2020-09-22 15:55] ruthtillman opened #244 "Index MARC fields 255, 775, and 793 for display"
Over the last few months, users have identified 3 more MARC fields which should be displayed in records.

| field | label | documentation |
| --- | --- | --- |
| 255abcdefg | Cartographic Mathematical Data | https://github.com/psu-libraries/psulib_blacklight/wiki/Publication-Info-Fields-Index-and-Display |
| 775\|0*\|iabcdefghikmnor | Other Edition | https://github.com/psu-libraries/psulib_blackli

[2020-09-22 17:50] ruthtillman opened #245 "Index Open Access to Access"
Logic: IF 506$2 == star AND 856$7 == 0 THEN add Access == "Open Access"

This will always be at minimum a **second** access status as the material will probably also be Access: "Online."

linked with https://github.com/psu-libraries/psulib_blacklight/issues/528

[2020-09-28 14:09] cdmo commented on #241
@ruthtillman when I do a search

* for `09715` https://catalog.libraries.psu.edu/catalog/16418026 shows as the number 2 (out of 2) results.
* for `09844` https://catalog.libraries.psu.edu/catalog/21330529 shows as the number 2 (out of 2) results.
* for `09981` https://catalog.libraries.psu.edu/catalog/26782112 shows as the number 6 (out of 6) results.

So the field is indeed indexed.

Or is this r

[2020-09-28 14:12] ruthtillman commented on #241
🤔 weird, I wasn't getting those when I tried it--I was just getting 1 result for those first two, the one with the 856 in it.

It would be helpful if it were weighed higher, yes. Especially since it's a numerical thing so that shouldn't really interfere with other searches.

[2020-09-28 14:14] cdmo commented on #241
👍

Very odd it wasn't there before. I take that these accessioning number identifiers have been around a long time right?

[2020-09-28 14:15] ruthtillman commented on #241
totally. I don't know if I searched at a weird time...

[2020-09-28 14:17] cdmo commented on #241
🤔

Side thought: We should make a relevancy testing suite some day just to make sure we're always good with what we expect.

Anyway, I'm working one raising relevancy for this ID now 👍

[2020-09-28 15:00] cdmo commented on #241
@ruthtillman it looks like the `099a` might be used for purposes other than the special collections accessioning number? Like this govdoc: https://catalog.libraries.psu.edu/catalog/55106. This old newspaper (?) has a weird thing going on in the 099a too: https://catalog.libraries.psu.edu/catalog/126675

This is to say maybe we'll be catching other things in the 099a too. I want to confirm that thi

[2020-09-28 15:06] ruthtillman commented on #241
Thanks for checking -- yes that should be fine.

[2020-09-29 02:15] cdmo commented on #241
this is in QA now... I also wanted to mention that I added this new ID to our advanced search identifiers field, so you can also search for accessioning numbers there and get less noise.

[2020-09-29 02:16] cdmo commented on #245
this is in QA, but note that the extract is from the 18th, so it's a bit out of date. Figured that was ok for QA purposes.

[2020-09-29 13:03] ruthtillman commented on #241
Works great! Thank you for the identifiers field add--that's an elegant choice!

[2020-09-29 13:03] #241 closed

[2020-09-29 13:17] ruthtillman commented on #245
QAd and looks good to me -- asked Jeff E to QA as an expert on the data (and let him know the extract was from 18th) and will see if he notices any issues.

[2020-09-29 14:18] ruthtillman commented on #245
Jeff says looks good and he'll keep posting.

[2020-09-29 14:18] #245 closed

[2020-09-29 17:58] banukutlu commented on #186
@ruthtillman do we need to consider any non-english representations?

[2020-09-29 17:59] ruthtillman commented on #186
Good question -- we do not because we should have English representations of everything, the others will be duplicates.

[2020-09-30 15:09] cdmo commented on #236
lograge is Rails only

[2020-09-30 15:09] #236 closed

[2020-09-30 16:20] cdmo commented on #243
would require manual tracing to be useful

[2020-09-30 16:20] #243 closed

[2020-09-30 20:09] ruthtillman opened #252 "Remove HathiTrust Link from LaVie"
SCL has requested that we remove the HathiTrust link from LaVie, our yearbook, because many copies in HT are paywalled in ways that they're not here. Since it is mostly used by genealogists and people without access accounts, the very nice HT box is distracting them from the link to free resources. While I do not think we should do this generally, our yearbook is a special resource and we offer it

[2020-10-01 15:18] ruthtillman commented on #186
Looks good! Couple edge cases are slipping through but that's a data issue re: catalogers not always including "Press" which isn't a blocker. Huge improvement comparing to current catalog. Thank you!

[2020-10-01 15:20] #239 closed

[2020-10-01 16:26] ruthtillman commented on #186
Update -- after more review, I realized we should just limit the test to "University." This will catch some edge cases and while still being sufficient for our needs.

[2020-10-07 12:55] cdmo commented on #203
we now have an alert setup from Splunk to tell us when a indexing process did not work as it should

[2020-10-07 12:55] #203 closed

[2020-10-12 14:38] ruthtillman commented on #186
this is good!

[2020-10-12 14:38] #186 closed

[2020-10-19 20:48] #252 closed

[2020-11-03 16:41] ruthtillman opened #263 "Update link indexing to include two blank indicators on 856"
While not ideal as it provides very little info about the resource linked, the double null indicator for `856|  |` is a valid use case. Because some of the records we're getting from vendors use it, we'll need to add it to our indexing. Treat as a full-text link.

[2020-11-24 17:54] banukutlu commented on #263
@ruthtillman do you have an example catkey?

[2020-11-24 18:03] ruthtillman commented on #263
Unfortunately, we fixed the catkey where it was reported. @mkutch is this something you could get via a query?

[2020-11-24 18:21] mkutch commented on #263
@ruthtillman I'll look... in the meantime approx when was the catkey changed.... I want to see if it still exists in DEV (which hasn't been synched for months) to see what it looks like... So there is no $u subfield?

[2020-11-24 18:30] ruthtillman commented on #263
@mkutch catkey is: 6946582 and was only fixed at the end of Oct. Two blank indicators -- there's still a $u.

[2020-11-24 19:02] mkutch commented on #263
catkeys
`1174303`
`23786738`
`2206901`
`2187375`

do you need more?

[2020-11-24 20:24] banukutlu commented on #263
thanks these are good 👍

[2020-11-30 16:08] banukutlu commented on #263
@ruthtillman could you please update https://github.com/psu-libraries/psulib_blacklight/wiki/URL-Fields as well?

[2020-11-30 16:20] ruthtillman commented on #263
Done!

[2020-12-03 18:16] ruthtillman commented on #263
These look great! Good to deploy.

[2020-12-03 18:16] #263 closed

[2020-12-03 18:17] ruthtillman commented on #121
👍

[2020-12-03 18:17] #121 closed

[2020-12-03 18:56] banukutlu opened #267 "check if locations can be pulled from webservices"
locations used for location_facet https://github.com/psu-libraries/psulib_traject/blob/master/config/settings.yml#L19-L141 (copied from https://github.com/psu-libraries/psulib_blacklight/blob/2eec0480a497082d71cb6063049a08205fc3625b/app/javascript/psulib_blacklight/javascripts/libraries_locations.json#L1-L702)

[2020-12-08 18:58] banukutlu opened #268 "Exclude UP-OFFICE from access facet"
https://catalog.libraries.psu.edu/?f%5Baccess_facet%5D%5B%5D=Other
UP-OFFICE needs to be excluded from access facet, currently shows up as Other

[2020-12-10 20:33] banukutlu commented on #268
reviewed on QA, it looks good

[2020-12-11 18:55] #268 closed

[2021-01-22 18:38] cdmo opened #274 "Move CI out of Travis"

[2021-01-25 15:12] ruthtillman opened #275 "Improve indexing for multi-lingual items"
Our language faceting is based on the primary language field 008[35-37]. The 041's subfields contain additional language data. We have not been indexing this data because it can be overkill, e.g. https://searchworks.stanford.edu/view/13749584 (The Crown showing `English, Arabic, Danish, Dutch, Estonian, Finnish, French, German, Italian, Norwegian, Polish, Spanish, Swedish, Turkish` languages.)

Bu

[2021-03-09 16:20] ruthtillman opened #277 "Add indexing for link labels and notes"
As part of revising the online resource link display, we need to index two more 856 subfields:

| MARC field | use for | description |
| --- | --- | --- |
| 856y | link label | text intended for use as a label |
| 856z | link note | text intended for additional context about the link |

Both subfields are _optional_ and a field may contain either or both. Both MAY repeat. For 856z, we can simply c

[2021-03-18 17:37] banukutlu commented on #277
`catkey: 18378439 with 856 u,y,z`
`catkey: 1351140 with 856 3,u,z`

[2021-03-18 17:54] banukutlu commented on #277
if there is subfield y, no more domain as text

`856 u| http://ezaccess.libraries.psu.edu/login?url= y| Electronic resource (PDF) z| CIS 2012 H181-66 (pt.4)`

[Electronic resource (PDF)](http://ezaccess.libraries.psu.edu/login?url=), CIS 2012 H181-66 (pt.4)

[2021-03-19 21:48] ruthtillman commented on #277
Updated the URL page with info for indexing and displaying 3. https://github.com/psu-libraries/psulib_blacklight/wiki/URL-Fields#link-label-and-note-fields (And section below)

`3: <a href="u">y</a>, z`

[2021-03-30 14:07] #193 closed

[2021-04-09 16:40] #274 closed

[2021-04-09 16:42] banukutlu commented on #274
@awead feel free to reopen if you think there is further work todo, I'm thinking we are in good place.

[2021-04-12 17:53] ruthtillman opened #284 "Because of Winn Dixie 2: Prioritizing AND over OR in results with multiple keywords"
Related to the Because of Winn Dixie problem, reported by Heather Ross https://catalog.libraries.psu.edu/?&q=pittsburgh+sanborn+fire+insurance+maps

If you search: `pittsburgh sanborn fire insurance maps` you should get results with ALL those keywords over results with SOME of those keywords. It's ok to get other results with `sanborn fire insurance maps` farther back, but this is a good example o

[2021-04-12 18:10] ruthtillman commented on #284
(while in this case those 4 words aren't as helpful, retaining the OR as background would cover cases where 4/5ths of the keywords matched and there were NO matches for 5/5 keywords or browsing back farther through 4/5 keywords would be useful)

[2021-04-15 15:13] ruthtillman opened #285 "Identify Base Call Numbers"
https://github.com/psu-libraries/psulib_blacklight/wiki/Browse-Items-by-Library-of-Congress-Call-Number#identify-base-call-numbers

# To-Do
- [x] #316
- [x] #318

[2021-04-20 15:54] ruthtillman opened #286 "Index Subjects, Authors, Titles for Browse"
Because we've already indexed the relevant fields for subject/author, we should see if we can simply reuse those fields for the Browse search. For title, we have a tsim which would work, but is not a facet so we will need to add that _or_ just make a left-anchored search.

Author: `all_authors_facet`
Subject: `subject_facet`
Title: `title_245ab_tsim`

# To-Do
- [x] #329
- [x] #330
- cancelling #33

[2021-04-21 14:36] ruthtillman commented on #181
Note for when we get to this- we have the first instance of the OCLC # from 035a indexed in keyword but we don't have deprecated ones indexed. We may have 035z fields for former numbers. As part of this, let's add that + 019a (repeatable) which is the other place you can put these.

[2021-04-21 19:17] ruthtillman opened #287 "Fix Microform Classification"
From E.N. email:

[code]

(note: the above numbers are for a specific search, we have more total microforms than just 71,340 but after we complete the ticket we should match them in an Advanced search for parameters: `Format: Microfilm/Microfiche` & `Location: Paterno - 2nd Floor - U.S. Docs` - run in CAT as well just to be sure numbers haven't changed in interim.)

Issue identified -- our media f

[2021-04-27 15:10] ruthtillman commented on #287
Made updates to wiki so our core documentation is correct.

[2021-05-12 15:23] ruthtillman opened #288 "Add 799a to display fields"
We currently index 799a for use in Aeon but not for display. https://github.com/psu-libraries/psulib_traject/blob/main/lib/traject/psulib_config.rb#L595-L598

Can we add indexing for it for display, to be displayed near the bottom of the record (will add to BL issue/wiki)

Field: 799a, may repeat.

[2021-05-25 20:36] ruthtillman opened #289 "Generate and Index LC and Dewey Call Number Shelf Keys"
Index base call numbers for search and "forward" / "backward" navigation

https://github.com/psu-libraries/psulib_blacklight/wiki/Browse-Items-by-Library-of-Congress-Call-Number#indexing

Once we have defined base call numbers for each record, we'll need to process them for navigation that lets us order them backward and forward, so that you navigate through the following call numbers in this orde

[2021-06-02 14:39] awead commented on #287
@ruthtillman There's also a "Microfile/Microfiche" media type at https://github.com/psu-libraries/psulib_traject/blob/main/lib/marc_media_type_processor.rb#L152. Should that be removed as well?

[2021-06-02 14:40] awead commented on #287
@ruthtillman Just for clarification, both L47-L48 _and_ L152 are out?

[2021-06-02 14:44] ruthtillman commented on #287
@awead yes, both of them. We're removing it entirely as a "Media Type" and its indexing as such was based on two different kinds of tests.

[2021-06-02 19:17] #277 closed

[2021-06-04 13:19] ruthtillman opened #291 "Rename "Open Access" facet to "Free to Read""
Per Scholarly Communications Outreach Librarian and meeting with selected of public-facing/outreach librarians/staff, we are going to be renaming the Open Access facet label "Free to Read" and adding a tooltip. This will be a fairly minor change but require a reindex.

Issue for how we do a tooltip in the facets should be figured out first: https://github.com/psu-libraries/psulib_blacklight/issues

[2021-06-08 18:08] ruthtillman opened #294 "Update locations"
Update locations as we start reopening.

[2021-06-08 19:03] #294 closed

[2021-06-09 16:29] #287 closed

[2021-06-11 13:35] #291 closed

[2021-06-14 16:49] banukutlu opened #301 "Review full and partial links rules"
Full links available? rule:
`(ind2 == '0' || ind1 == '4' || (ind1.strip.empty? && ind2.strip.empty?)) && !NOT_FULLTEXT.match?(url_label)`

Partial links available? rule:
`ind2 == '1' || ((ind2 == '0' || ind1 == '4') && NOT_FULLTEXT.match?(url_label))`

856s like the below are both full and partial:
`856 4 1 3| v.19-20 Sept.1939-May 1941 u| http://archive.org/details/facultybulletinp00penn`

[2021-06-14 19:06] banukutlu opened #302 "Support multiple 506 for Free To Read"
Currently if a record has one more than 506 , Free To Read check takes the first one, so the records with multiple 506s like the below examples does not resolve as Free To Read.

examples catkeys:

[code]

[2021-06-15 16:21] ruthtillman opened #303 "Update Microfilm indexing to catch other formats"
Microfilm record indexing currently stops after indexing the one kind of thing but we need to record multiple formats for a record if there's also serials/periodicals on it: https://catalog.libraries.psu.edu/catalog/483004

Essentially wherever it falls in things it should test for microfilms AND test for any other formats which might match.

We're likely to see the following combos: Microfilm/boo

[2021-06-16 18:47] ruthtillman opened #305 "Add thesis_department as a faceted search option / display"
On theses and dissertations, the 699 fields record the thesis department. We need to index this for search and display.

Field: 699a
Repeatable: yes, field may occur more than once. Subfield a may repeat.
Text: strip period if exists
Index: as exact facet because we'll want to link from records to a controlled search for that department. Yes strip period.

THESIS-D and THESIS-M only, not THESIS-B.

[2021-06-17 02:59] awead commented on #303
It looks like this is having the side effect of adding back in rejected formats from the 6/7 leader, such as "Book" when "Juvenile Book" is already present from the 949t. I'm seeing this with https://catalog.libraries.psu.edu/catalog/4059691 which is one of the test fixtures. Prior to this change, we avoided this problem by simply ignoring the format in the leader if we already had one from the 94

[2021-06-21 14:33] ruthtillman commented on #303
Thanks for the analysis, Adam. I've reviewed the formats to see which might get conflated with Book. From what's in formats_949t.properties, it might make more sense to keep ignoring formats 6/7 _unless_ it's Microform vs. the other way around, since one reason we're using it that way is that all of those might contain encoding to test to Book, depending. So maybe an "if not MICROFORM, keep doing

[2021-06-22 17:57] ruthtillman commented on #301
So what it looks like there are several different kinds of collisions which can happen, including Partial and Suppl rules which are colliding e.g. https://catalog.libraries.psu.edu/catalog/2171372/raw.json (but this raises an issue with our link labeling which I put in the other issue).

Looking at this:

[code]

In reviewing documentation and options, I am thinking that this might work... Removed

[2021-06-22 18:11] ruthtillman commented on #301
Updated Wiki to reflect proposed logic above and can continue to update.

[2021-06-25 21:16] banukutlu commented on #285
@ruthtillman  Here are some preliminary call number base results for sample record (not the examples you provided yet.)

[call_number_base_sample.txt](https://github.com/psu-libraries/psulib_traject/files/6718857/call_number_base_sample.txt)

Note that this is not finalized, only tries to find base numbers for LC and Dewey not the other classifications yet.

[2021-06-28 13:42] ruthtillman commented on #285
Review notes (running comment, will edit with additional updates):

1. While this pertains to ASIS, worth revisiting when we do ASIS and checking Regex to be sure it's supported -- on catkey: 55858 we have weird dates like `Jan.1-15 1973`. There's no space between the month abbreviation, the period, and the date range. Also the dates are a range. CAT handles this by breaking it down item-by-item

[2021-06-29 15:11] ruthtillman commented on #303
Looks good to me! As mentioned in the meeting, we may find more edge cases, but this is a significant improvement.

[2021-06-29 16:48] #303 closed

[2021-07-10 14:30] ruthtillman opened #310 "Update HathiTrust indexing so that only public domain are also Online access"
Ruth: review this to see whether it even applies.

Right now we're making everything in HathiTrust be Online Access but we only want that for the public domain things now, not the "search inside" -- and again we might decide to remove these since search inside isn't very good?

Possibly the start should just be running processing the CSV to be public domain only and working on the others later whe

[2021-07-12 13:33] ruthtillman commented on #310
Reviewed this morning -- good news! Everything already set up took care of this. I wanted to be sure because it's a big deal, but we're set. 🦖

[2021-07-12 13:33] #310 closed

[2021-07-14 14:21] ruthtillman opened #312 "Research/write 245a indexing (Ruth / research)"
This is a placeholder issue for me to review how we're handling 245a and boosting it for cases where we're getting search results where a record with the exact phrase in 245b is coming above 245a. Example: https://catalog.libraries.psu.edu/?search_field=all_fields&q=hillbilly+elegy

(this isn't a huge issue but it would be a minor improvement and we have people who won't scroll)

[2021-07-14 19:52] ruthtillman opened #313 "Update Series Title to include 830, some conditional logic"
This has been a weird one, and one I should've gotten to back when I made the ticket, but I didn't and here we are. Right now it's at: https://github.com/psu-libraries/psulib_traject/blob/main/config/traject.rb#L162-L164 We're going to remove 440s entirely as they've been phased out. Any that are leftover are errors and should be ignored.

Can we update the indexing logic to be:

For search:

abbr

[2021-07-19 17:49] ruthtillman opened #314 "Review Commonwealth Libraries' Names to Match Official Documentation"
Our names for the Commonwealth libraries are not in alignment with the official Penn State terms for them. I'm going to use the style guide to revise these.

I'll also review/update the Locations before closing this.

[2021-07-23 15:21] banukutlu opened #316 "Identify Base LC Call Numbers"
Part of #285

# To-Do
- [x] Lop LC call numbers to identify the base
- [x] Map the base call number to `call_number_lc_ssm` field

# Questions
 - Will the un-lopped call number displayed as well? See https://github.com/psu-libraries/psulib_traject/issues/316#issuecomment-885715444

[2021-07-23 15:22] ruthtillman commented on #316
No, we won't want to display unlopped. Those only matter in the actual record which we get from WebServices availability. We'll just want to display the bases in a sorted order.

[2021-07-23 15:32] banukutlu opened #317 "Generate and Index LC Shelf Keys"
# To-Do
- [x] normalize call numbers using `lcsort` gem
- [x] use normalized call number as forward shelf key
- [x] generate reverse shelf key from forward shelf key, ex:
```return the reverse String value, mapping A --> 9, B --> 8, ... 9 --> A and also non-alphanum to sort properly (before or after alphanum)```
- [x] map the keys to `lc_forward_shelf_key` and `lc_reverse_shelf_key` fields

[2021-07-23 18:10] banukutlu commented on #314
@ruthtillman  Is #315 handling this ticket or just a part of it?

[2021-07-23 18:15] ruthtillman commented on #314
for the traject side. There's also a Blacklight side.

[2021-07-26 16:59] awead opened #318 "Identify Base Dewey Call Numbers"
# To-Do
- [x] Lop Dewey call numbers to identify the base
- [x] Map the base call number to `call_number_dewey_ssm` field

# Examples
| Record | Dewey Call Number Base | All Dewey Call Numbers |
| --- | --- | --- |
| 988650 | 808.8K74a T | 808.8K74a T |
| 122553  | 170M366l 1844 | 170M366l 1844 |
| 124958 | 590.52An7  | 590.52An7 ser.5 v.2 July-Dec.1878 | 590.52An7 ser.5 v.3 Jan.-June 1879 | 590.5

[2021-07-26 16:59] awead opened #319 "Handle other call numbers"

[2021-07-28 03:09] awead commented on #316
Original comments by @ruthtillman

In general: This is looking really good and very exciting to see!

Regex issues and new Regex to add:
- [x]  We need to add support for `k.1`, `k.2` and `h.1, h.2` etc to regex for vol_parts (so basically standalone "k" and "h"). Example records: 3752257, 3752276. These are part-types I hadn't encountered before! Testing sample ++
- [x]  Catkey 1443986: Really we

[2021-07-28 03:10] awead commented on #316
Original comments by @ruthtillman
n general: This is looking really good and very exciting to see!

Regex issues and new Regex to add:
- [x]  We need to add support for `k.1`, `k.2` and `h.1, h.2` etc to regex for vol_parts (so basically standalone "k" and "h"). Example records: 3752257, 3752276. These are part-types I hadn't encountered before! Testing sample ++
- [x]  Catkey 1443986: Really weir

[2021-07-29 16:21] ruthtillman commented on #316
Review of 2021-07-29 call number base file from @awead, only 2 issues, 2 additions:

## Additions

* [ ] add "Newspaper" to "Periodical" for ignoring. This is another one we can't order in any meaningful way.

* [ ] `3749921      call_number_lc_ssm        DS118.R587 1927 Tl.1 | DS118.R587 1927 Tl.2` - add test for "Tl" (teil, or "part" in German)

## Issues

* [ ] When H or K are _inside_ the cutt

[2021-07-30 02:15] awead opened #322 "Hourly jobs"
The hourly jobs need some further refinement.

## TODO

delete hourly files after they've been indexed
automate files into the scratch space in kubernetes
add 100% testing coverage to HourlyIndexer

[2021-07-30 02:17] awead opened #323 "Add Sidekiq UI for viewing progress"
Provide a UI for viewing Sidekiq workers.

## What does done look like

- Sidekiq Admin interface at `/sidekiq` from the catalog. This is webauth protected, only ul-dev-team can display it.

[2021-07-30 18:56] awead commented on #316
@ruthtillman Here's the issue with H and K in cutters. When H or K occurs as the second letter, it's matching the regex for "k" and "h" as volume designations.

    QA76.9.D3H365153 2000

Evaluates the same as:

    QA76.9.D3 h.3

I tried doing case-sensitive matching, but that makes the problem worse. What seems to work is to be more specific about the volume designation, the "h.3" part. Can you

[2021-08-02 12:25] ruthtillman commented on #316
@awead is there any way to test if there's a space before the h or the k? Like using an actual \s? I know spaces are the messiest part of this, but I can say with 100% certainty that there would be a space before the h.3*

1. The period should also always be there.*
2. I can't say whether we'll ever have more than 2 digits... seems unlikely but some things do get broken up weirdly.
3. They should

[2021-08-04 20:22] banukutlu commented on #318
@ruthtillman only 4 catkeys out of our sample had dewey call numbers:

[code]

[2021-08-04 20:31] ruthtillman commented on #318
Got it! I can work from these, but it would be helpful to have a slightly bigger one if possible. @mkutch do you know if you can do an export of 500 records which include a 949w  == DEWEY?

[2021-08-04 21:38] banukutlu commented on #318
[dewey_more.txt](https://github.com/psu-libraries/psulib_traject/files/6934525/dewey_more.txt)

there is more in this attachment, just to note the sample I used is not from an up-to-date extract but thought it would be enough to give an idea. there is no cutting done on the dewey numbers

[2021-08-05 12:13] ruthtillman commented on #318
@banukutlu perfect! They don't need to be 100% current, call numbers rarely change

[2021-08-06 15:44] awead commented on #317
## Incorrect LC Numbers

Lcsort will return `nil` if it can't determine a proper forward key. Currently, we then determine a our own which is causing browsing problems. Ex, give a call number like `EC 1.1201/1:E 97/`

[code]

So we can make our "best guess" and try to coax it into something.

## Questions

1. Should we _always_ return something even if may be wrong, or return nil if we can't corre

[2021-08-06 17:29] banukutlu opened #327 "Normalized call numbers as part of Symphony extracts?"
Can we get normalized call numbers from Symphony as part of the extract potentially as a local subfield to 949?

Might need a special processing for extracts like boundwith records because as is the catalogdump(sirsi tool) doesn’t have an option to put that in there.

[2021-08-06 18:17] banukutlu commented on #317
If we can get promising results from #327, I would be inclined toward the this 3rd option.

[2021-08-06 19:18] awead commented on #317
We don't have to start from scratch. The `Lcsort` gem is getting the vast majority of them: 35K out of 2.7M. We can focus on the ones that aren't working.

[2021-08-09 13:38] banukutlu commented on #317
Can we ignore these and log it so we can catch them periodically?

question from kickoff meeting: can we ignore these and log it so we can catch them periodically?

[2021-08-09 13:47] banukutlu opened #328 "Hourlies in k8s"

[2021-08-09 13:52] banukutlu opened #329 "Generate and index shelf keys for browsing subjects"
Browsing subjects can just be a facet. Doesn't need anything fancy, but, it needs its own field that's different from the current subject facets.

## To-Do

Create a `subject_browse_facet` field for subject browse:

     650|*0|abcdgvxyz:650|*1|abcdgvxyz:650|*3|abcdgvxyz:650|*3|abcdgvxyz`

     If `'650|*7|2'.downcase == 'pst'`, use `650|*7|abcdgvxyz`

For more details https://github.com/psu-libra

[2021-08-09 14:49] whereismyjetpack commented on #323
https://github.com/psu-libraries/psulib_traject/pull/325 addresses this, the kubernetes configuration will take the base_url of the deployment, and route `/sidekiq` to the rack configuration in this PR. This code is running in qa `https://catalog.qa.k8s.libraires.psu.edu/sidekiq`

[2021-08-09 16:21] banukutlu commented on #328
duplicate of #322

[2021-08-09 16:21] #328 closed

[2021-08-09 17:18] banukutlu opened #330 "Generate and index shelf keys for browsing authors"
# To-Do
- [ ] use `all_authors_facet` for author browse
- [ ] normalize authors and generate forward shelf keys
- [ ] generate reverse shelf keys from forward shelf keys
- [ ] map the keys to `author_forward_shelf_key` and `author_forward_shelf_key` fields

[2021-08-09 17:24] banukutlu opened #331 "Generate and index shelf keys for browsing titles"
We can use the `title_sort` field for creating a browseable list of titles, but it isn't optimal for display. Instead of trying to have different fields, one for sort, one for display, we can make sorted field that can be "unsorted" later.

## To-Do

Update `title_sort` to retain the trimmed elements, ex: _The Great Gatsby_ becomes _Great Gatsby The_. For the display, the original title is reassem

[2021-08-09 18:13] #323 closed

[2021-08-09 19:48] banukutlu commented on #318
@ruthtillman Could you please review these results? [dewey_lopped.txt](https://github.com/psu-libraries/psulib_traject/files/6957006/dewey_lopped.txt)

[2021-08-09 21:16] mkutch commented on #318
@ruthtillman  I emailed you the sample requested.

[2021-08-09 21:35] whereismyjetpack commented on #322
As part of #332  we address processing adds, adding tests. As part of another ticket/PR i think we should do

- [ ] process deletes
- [ ] work with @mkutch to keep kubernetes full_extracts, and hourlies in sync

[2021-08-11 14:26] awead commented on #329
## Alternative Implementation

There's a way we may be able to implement this using the existing facets. We can tweak Blacklight's existing facet navigation and get something like this:

https://catalog-call-number-browse.dev.k8s.libraries.psu.edu/catalog/facet/subject_facet?facet.page=10&facet.prefix=American&facet.sort=index

![Screen Shot 2021-08-11 at 10 15 32 AM](https://user-images.githubuse

[2021-08-11 18:33] ruthtillman commented on #318
Only a few issues identified:

160947: expected `860.9C891` but was getting `860.9C891 t.6-8 | 860.9C891 t.4-5 | 860.9C891 t.2-3 | 860.9C891 t.1` (because we aren't accounting for "t\.\d" which I guess we should do in LC as well (with the same fix we used for "h" and "k" to be sure we're not cutting off part of a call number)

[2021-08-12 13:24] ruthtillman commented on #318
Also of note: per testing on Adam's browse, the "t\.\d" thing also affects LC, so we should apply whatever fix works here to that regex as well.

[2021-08-12 18:05] whereismyjetpack commented on #322
As part of #336 we are now processing deletes, we're syncing data from symphony servers.

[2021-08-16 15:57] ruthtillman commented on #317
Recording some of the patterns I've identified from the list of 35,000 call # not processing:

1. `^XX(` - while our script is catching the ones that begin with `xx(` apparently there's also some with XX(... these seem to be a bit older so maybe it's LIAS-type stuff? Anyway, solution for this would be to make it case-insensitive since we should never have a _valid_ call number beginning with `XX(`

[2021-08-16 20:22] awead commented on #317
Given the feedback above, I'm proposing the following:

* update `CallNumber` to ignore records with `XX(` call numbers
* find out why "Periodical" isn't being excluded -- this is supposed to happen in `CallNumber` also

* create an additional normalization function in `ShelfKey` to correctly process those three cases into a valid forward key, ex: `Lcsort.normalize(call_number) || extended_normali

[2021-08-20 14:23] awead opened #341 "Anything with "Newspaper" isn't good"
Ignore any LC call number with "Newspaper" in it.

## WDLL

Change `value == 'Newspaper'` to `value.match?(/Newspaper/)`

[2021-08-20 19:12] ruthtillman opened #343 "Call number regex notes from reviewing LC Call No. Browse"
(This might be something @banukutlu can fold in with regex issues identified for Dewey)

### Regex not behaving as expected

1. In results page: https://catalog-call-number-browse.dev.k8s.libraries.psu.edu/browse?starting=KJE0908.O35.2003 for whatever reason these do not have the year stripped off. `KJE908.O35 2003|KJE908.O35 2004|KJE908.O35 2005|KJE908.O35 2006 etc` https://catalog-call-number-br

[2021-08-20 20:35] #322 closed

[2021-08-23 16:21] #317 closed

[2021-08-23 16:21] #316 closed

[2021-08-26 14:26] ruthtillman opened #345 "Subject Browse Facet Fields"
Because the regular subject_facet allows for all kinds of subject-type fields and they don't belong well together in an ordered list, we're going to limit our subjects to "topic" (long story how topic is a subset of subject). The facet is mostly simple but we'll want to add one set of PSU-specific subjects to it, which will require a test (`650|*7|` can be a lot of different kinds of subjects and

[2021-08-26 17:11] #345 closed, assigned to nobody

[2021-08-30 17:49] #329 closed

[2021-08-31 16:11] ruthtillman commented on #284
Closed by https://github.com/psu-libraries/psulib_blacklight/pull/826

[2021-08-31 16:11] #284 closed

[2021-08-31 16:12] ruthtillman commented on #312
Closed by https://github.com/psu-libraries/psulib_blacklight/pull/826

[2021-08-31 16:12] #312 closed

[2021-08-31 16:20] ruthtillman opened #348 "Summary holdings indexing"
# Indexing Summary Holdings

First, what are summary holdings? Summary holdings provide information "at a glance" regarding our journals, magazines, newspapers, and other periodicals. For example, if we have over 100 volumes, the summary holdings could provide you with the basic, helpful information: 1893-1922; 1931-1935; 1937-1992; Indexes to 1980-1990. --- which helps you know you won't find any

[2021-08-31 18:35] awead commented on #348
@ruthtillman Can you give us the results of those catkeys? For example, for each of the samples above, are we building one field, i.e. `holdings_ssim`? And what would the content of the field(s) look like. At first glance, it appears that 1846251 would just have `v.12(1956/57)-v.40:1-7/8(1984)` in it. Is that right?

Also, is this for display only, or are users expected to search the contents of t

[2021-08-31 18:45] ruthtillman commented on #348
Display only. I'll try pulling together some hypothetical results.

[2021-09-01 02:39] banukutlu commented on #318
@ruthtillman sample results with `t.` cut off
[dewey_base_cn.txt](https://github.com/psu-libraries/psulib_traject/files/7087832/dewey_base_cn.txt)

[2021-09-01 13:28] ruthtillman commented on #318
t. lopping looks good!

[2021-09-01 18:46] psu-stewardship-bot opened #350 "Test ticket from Code Climate"

[2021-09-01 18:47] #350 closed

[2021-09-01 18:48] psu-stewardship-bot opened #351 "Fix "method_complexity" issue in lib/psulib_traject/macros/subjects.rb"
Method `process_subject_hierarchy` has a Cognitive Complexity of 7 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/psu-libraries/psulib_traject/lib/psulib_traject/macros/subjects.rb#issue_612fc618179c440001000054

[2021-09-01 18:49] psu-stewardship-bot opened #352 "Fix "method_complexity" issue in lib/psulib_traject/macros/subjects.rb"
Method `process_subject_hierarchy` has a Cognitive Complexity of 7 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/psu-libraries/psulib_traject/lib/psulib_traject/macros/subjects.rb#issue_612fc618179c440001000054

[2021-09-01 18:49] #351 closed

[2021-09-03 14:37] ruthtillman opened #354 "Change subject browse facet indexing/display behavior to only use fullest form"
For regular subject_facet, we have methods to break it out into all its various forms. Therefore on a record with

`Quilting—Pennsylvania—Cumberland County—History—19th century`

we also process it so we can generate links for:

[code]

However, for subject browse facet, we'll want to only use the fullest form of each subject we index, e.g. `Quilting—Pennsylvania—Cumberland County—History—19th cen

[2021-09-07 14:18] #330 closed

[2021-09-07 14:18] banukutlu commented on #330
not relevant

[2021-09-07 14:20] banukutlu commented on #327
not relevant

[2021-09-07 14:20] #327 closed

[2021-09-08 11:32] #354 closed

[2021-09-10 20:30] psu-stewardship-bot opened #358 "Fix "method_count" issue in lib/psulib_traject/call_number.rb"
Class `CallNumber` has 21 methods (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/psu-libraries/psulib_traject/lib/psulib_traject/call_number.rb#issue_613bbfbba7dc680001000057

[2021-09-15 20:05] awead commented on #331
I've updated the description to reflect a new approach. We can update the existing title_sort field so that the original title can be reassembled in the catalog for display.

[2021-09-24 13:25] ruthtillman opened #359 "Add a few fields (still smaller than normal subject) to subject_browse"
Following up from testing, we should re-add these fields to the subject_browse_facet. These are fairly limited forms (in terms of which letters we're using, this means we can find all books _about_ Karl Marx and his work, for example) and restricted to LC so they should be pretty good for grouping the types of things without leading to too much spread, which we were getting with the original pass.

[2021-10-21 16:27] banukutlu opened #364 "Base call numbers should handle dates like 1st May yyyy"
Part of #318

eg. catkey: 928964

`336.2P3864t 1st Mar.1953, scheme: DEWEY`

getting "1st" because "1st May"

`336.2P3864t 1st May 1953`

should be getting

`336.2P3864t`

[2021-10-21 16:30] #318 closed

[2021-11-16 18:13] ruthtillman opened #367 "Index Report Numbers"
Some technical and other reports are easier to find when using the report number vs. the report name, particularly if a similar report is periodically conducted and you're trying to find a specific version. See also Wiki https://github.com/psu-libraries/psulib_blacklight/wiki/Report-Numbers and display is in: https://github.com/psu-libraries/psulib_blacklight/issues/913

## Identifier Search Index

[2021-11-16 18:16] ruthtillman opened #368 "Index Thesis Department for Advanced Search"
Desired feature: A controlled drop-down in Advanced Search and a linked display field in record display for Penn State's Thesis Departments.

This information is in field 699a _but_ we can only guarantee that the data in 699a is **ours** if the 949t is also THESIS-B or THESIS-M or THESIS-D which is how we record our Penn State theses. (see bottom of issue for more)

We wouldn't need any translatio

[2021-11-29 18:32] banukutlu commented on #359
@ruthtillman adding the new fields will get us the below, just checking to see if that looks fine to you:

standard_fields:
`600|*0|abcd:610|*0|abcd:611|*0|abcd:630|*0|avxyz:647|*0|avxyz:650|*0|abcdgvxyz:650|*1|abcdgvxyz:650|*3|abcdgvxyz:650|*3|abcdgvxyz:651|*0|agvxyz`

pst_fields:
`650|*7|abcdgvxyz`

[2021-11-29 18:39] ruthtillman commented on #359
Looks about right -- I see we seem to have a duplicate of `650|*3|abcdgvxyz` which was what I put in the original issue. Can we also change that to a `*2` which is what I think I meant? We don't want `\*[4-7]\` but 2 is one our medical folks use...

[2021-11-29 18:41] banukutlu commented on #359
@ruthtillman  ok made the change:
`'600|*0|abcd:610|*0|abcd:611|*0|abcd:630|*0|avxyz:647|*0|avxyz:650|*0|abcdgvxyz:650|*1|abcdgvxyz:650|*2|abcdgvxyz:650|*3|abcdgvxyz:651|*0|agvxyz'`

[2021-11-29 18:48] ruthtillman commented on #359
Thanks! When it's indexed I'll go look at it.

[2021-12-01 20:03] banukutlu commented on #359
@ruthtillman For subject browse, we are taking the max length subjects. I want to clarify that:

If the subject are like below,

`A-B-C-D`
`A-B-C-D-E`
`E-F`
`1-2-3`
`1-2-3-4-5`

what is our expectation here for the result?

just fyi @awead

[2021-12-01 20:26] ruthtillman commented on #359
@banukutlu as long as those subjects are all in subject_facet_browse or whatever we're using for that browse page, that's fine. Because while  encoding Quilts -- Pennsylvania is a different than encoding for Pennsylvania--Centre County, we don't distinguish when doing our subject searching

[2021-12-01 20:35] banukutlu commented on #359
With the current logic, those will output  `A-B-C-D-E` and `1-2-3-4-5`, is that what we want 🤔

[2021-12-01 20:47] ruthtillman commented on #359
oh yes! Sorry I didn't understand the question, we want A-B-C-D-E and 1-2-3-4-5 or whatever the longest length is

[2021-12-01 20:52] ruthtillman commented on #359
(does the above make sense? would it help to show what I expect from a particular catkey?)

[2021-12-01 21:23] banukutlu commented on #359
Not sure what you mean by separate 🤔 but I am trying to figure how we should apply the max length rule, like across all subject browse facet fields or each different field like within 650 within 610, etc.

[2021-12-01 21:29] ruthtillman commented on #359
separate fields! So yes, it would be applying the same rule across. Here's an example of what I'd expect from https://catalog.libraries.psu.edu/catalog/36139180/marc_view

[code]

[2021-12-02 14:27] #189 closed

[2021-12-02 14:27] #286 closed

[2021-12-02 14:29] psu-stewardship-bot opened #372 "Fix "method_complexity" issue in lib/psulib_traject/processors/summary_holdings.rb"
Method `call` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/psu-libraries/psulib_traject/lib/psulib_traject/processors/summary_holdings.rb#issue_61a7996840e2a2000100004f

[2021-12-02 16:08] awead commented on #372
🙄

[2021-12-03 20:15] ruthtillman opened #373 "Change 866, 867, 868 subfields to ATOZ (traject method)"
Testing with Nick uncovered the possibility of other fields being used in the data, particularly `|z`. Since these fields are not thoroughly-documented, it seems like a good use case for the traject method "ATOZ" instead of just listing numbers.

This will index any subfields (that use letters) and, as usual, in the order in which they appear (which is the order the person entering data intended s

[2021-12-06 20:12] ruthtillman commented on #367
Sorry to re-open but while getting catkey samples, I realized we should add in 086a too. Redid the above to `027a:086a:088a` and updated documentation everywhere.

[2021-12-07 15:37] nicktiberi commented on #373
An example record with data in the z subfield is: https://catalog.libraries.psu.edu/catalog/52888/marc_view

The data is shown in the record in the CAT: https://cat.libraries.psu.edu/uhtbin/cgisirsi/?ps=wz4tXmYren/UP-PAT/X/9

[2021-12-07 19:49] #367 closed

[2021-12-07 19:49] #348 closed

[2021-12-08 14:58] #359 closed

[2021-12-08 16:31] #373 closed

[2021-12-14 15:50] #12 closed

[2021-12-14 20:37] #301 closed

[2021-12-16 22:33] ruthtillman commented on #12
/deep sigh -- I realized had made the update on the wiki but not here. Can we change the traject indexing for dedications to `995abcd3n` -- otherwise it's looking great!

[2022-01-05 14:39] ruthtillman opened #382 "Add 856 (first indicator 4, second indicator blank) to the fulltext link"
Learned that we have some old records with less-good data where the first indicator is 4 but the second indicator is blank. Those aren't being indexed by any of our logic right now. Cataloger familiar with the records says that these should be indexed as fulltext links (vs. version of resource or related).

Basically, treat `856|4 ` like `856|40`. (note, we need to be sure it's blank vs. wildcard!

[2022-01-10 18:14] ruthtillman opened #383 "Add Equipment to formats"
We're going to be adding equipment to the catalog. They will probably show up as "Book" under current logic. We should test the 949t to see whether it contains any of the following:

`LAPTOP or CARRELKEY or EBOOKREADR or EQUIP4HR or EQUIP24HR or EQUIP3DAY or EQUIP5DAY or EQUIP7DAY or EQUIP14DAY or EQUIP24FEE or EQIP7D5DF` - all these are equipment types.

[2022-01-13 18:32] ruthtillman commented on #382
@banukutlu yes I think that should work. I worry a little that it should be _just_ 4<blank> but I think that *<blank> will be ok 99% of the time.

[2022-01-13 18:39] #382 closed

[2022-03-03 14:22] ruthtillman opened #387 "Index 653 as Other Subjects"
The 653 field is an uncontrolled kind of subject, which means that it functions like a text field vs a hierarchical subject. We will want to index it for display but not apply any special kind of logic.  It only has one subfield, "a" so we're just indexing the `653a`.

We are adding this to the general subject keyword search field `subject_tsim` but not to the hierarchical subjects or subject face

[2022-03-10 19:40] #314 closed

[2022-03-10 21:46] ruthtillman commented on #383
Sample catkeys:

- https://catalog.libraries.psu.edu/catalog/6433311
- https://catalog.libraries.psu.edu/catalog/23115664
- https://catalog.libraries.psu.edu/catalog/6427620
- https://catalog.libraries.psu.edu/catalog/18359238
- https://catalog.libraries.psu.edu/catalog/11574106 (currently parsing as book -- the LEADER data says it's a book, so we'd need to address this kind of data)

[2022-03-11 14:33] ruthtillman opened #405 "Call number browse - sorting colon in call number"
# Bug Report

## Description
The only feedback we've gotten on call number browse sorting order was related to colons in call numbers. These are most likely to occur in maps.

## To Reproduce
You can see the colon-type call numbers starting here:

https://catalog.libraries.psu.edu/browse/call_numbers?classification=lc&nearby=G3824.S8

and then the normal .S8 call numbers that they should be follow

[2022-03-15 18:59] banukutlu commented on #387
@ruthtillman Would you be able to give us some example records that have 653a subject?

[2022-03-15 19:23] ruthtillman commented on #387
Catkey examples:

- 33188434
- 24149588
- 14742712 (this one has repeating As, which I guess we should be sorting into separate fields?)
- 15969831
- 35155396

[2022-03-16 13:19] #387 closed

[2022-03-17 00:36] banukutlu opened #391 "Call Number Browse updates to use custom solr plugin"

[2022-03-17 19:14] #383 closed

[2022-03-18 20:25] ruthtillman commented on #387
Looks good!

[2022-03-18 20:27] ruthtillman commented on #383
This looks good! I was able to use the facet search to view them. No icons of course, but the results I'm getting are excellent.

[2022-03-21 13:40] ruthtillman opened #393 "Additional things to trim from call numbers"
Note: the problems might also involve the periods in them? In many cases, these have no space before the number!

* `panel.`: 13591327
* `svar.`: 1505296
* `sheet.`: 8165755, 280114 (the "t." seems to be getting caught, but not the rest?)
* `page.`: 13596094
* `e.`: 1278198
* `t.` (might be covered?): 1278198
* `roc.` : 199437, 74896, 127336, 1215261
* `n.s.`: 199386
* `cis.`: 74896, 1215261
* `di

[2022-03-24 18:35] banukutlu commented on #267
@mkutch could you check what we would get from Symphony?

[2022-03-24 18:46] banukutlu commented on #174
Date shows up in the wrong end but the links to the author search works, we will close this issue for now and see if there will be more data like this.

[2022-03-24 18:46] #174 closed

[2022-03-24 18:47] banukutlu commented on #177
This seems to be working correctly now, closing it.

[2022-03-24 18:47] #177 closed

[2022-03-24 18:55] #180 closed

[2022-03-24 19:05] #136 closed

[2022-03-28 19:50] mkutch commented on #267
@banukutlu would this work for you?  I think you've used it the myaccount code. You only need a clientID
`/policy/location/simpleQuery?key=*&includeFields=displayName,description`

or did you need something else?

[2022-03-29 18:03] #368 closed

[2022-03-31 19:13] #48 closed

[2022-04-01 14:07] ruthtillman commented on #267
@mkutch some of the cases that I end up editing:

Varied:

[code]

Fairly standardly abbreviated but better when spelled out:

[code]

Also Erie would like to be replaced with "Behrend"

[2022-04-06 15:05] nicktiberi commented on #163
Currently, traject attempts to ignore publication dates below 500 and above `current_year + 6`, but the code that tries to determine that is broken and it's doing the check incorrectly, so that's why records with date `9999` are slipping through the cracks. Do we want to retain this logic, @ruthtillman, or should we modify the min/max dates in some way?

[2022-04-06 17:17] mkutch commented on #267
We can create custom descriptions which will then show up in the `translatedDescription` field of the call

`https://cat-stage.libraries.psu.edu:28443/symwsbc/policy/location/simpleQuery?key=*&includeFields=*`

To create custom descriptions in Symphony go to `/sirsi/Unicorn/Language/Custom/English/labels`
add to the labels file `LOCN_desc_POLICYNAME`, lines such as

`LOCN_desc_BROWSE-SS||Social Sc

[2022-04-06 17:42] ruthtillman commented on #267
@mkutch I'm gonna QA the heck out of this before finishing but, does this look right?

[code]

[2022-04-06 18:09] mkutch commented on #267
Looks  good! If not too much trouble can you prepend the policy name with LOCN_desc_ ? If not I can do it.
LOCN_desc_PERIOD-DP||Penn State Law (UP) - 3rd Floor - Periodicals|

Also I was thinking we are only putting the locations whose description don't fit in the custom label file, correct? Those who fit in the description field are fine staying that way, correct? If so then the webservice call w

[2022-04-08 13:57] #163 closed

[2022-04-11 15:02] ruthtillman opened #404 "Add OCLC ID cross-reference"
Adding 035z and 019a to the identifiers search will allow people to search OCLC # cross-references. These are deprecated identifiers, often from merges, which may still be the identifier that the person searching has on-hand. However, 019s can contain some really bad historical data, so we will need to run a regex and only index ones in which the field _**only contains numbers** and those numbers

[2022-04-11 16:55] banukutlu opened #406 "Identify Base SUDOC call numbers"
Part of #285

In SUDOC, we can expect letters and numbers separated by one of: `:-./` and possibly spaces. However, there MAY not be a space before the parts information, e.g.

- D 101.47:v.14
- C 3.2:H 62/8/v.2

These would be after the last separator of some kind, however.

We should expect the most common volume, issue, and number, v. iss. vol. num. etc words and we only expect English on these

[2022-04-21 18:15] ajkiessl commented on #181
@ruthtillman @banukutlu I think this is done, or at least it was picked up by some other change that may have been done more recently.  I think it's picked up in the `all_text_timv` search: https://github.com/psu-libraries/psulib_blacklight/blob/main/solr/conf/schema.xml#L253 .  I could explicitly add OCLC and LCCN to the keyword search if we think that would be helpful.  The search in the OP work

[2022-04-21 18:21] ruthtillman commented on #181
@ajkiessl Just tried a handful--these are now working as expected! Maybe something in our Solr changes/updates.

[2022-04-21 18:21] #181 closed

[2022-04-22 21:08] #404 closed

[2022-04-26 13:53] ruthtillman opened #411 "Index Binding Information for display"
Index the Binding Information: 563, subfields a, u, and 3, for display.

## WDDLL

* [x] `563au3` is indexed for display

Sample catkeys:

- 1125831
- 373086
- 654247
- 13221312

[2022-04-26 16:06] #302 closed

[2022-04-26 17:22] #411 closed, assigned to ajkiessl

[2022-04-28 15:28] ruthtillman commented on #411
Also looks good!

[2022-04-29 16:14] ruthtillman opened #416 "Break up multi-value 653s on semicolons"

[2022-05-12 18:48] ruthtillman commented on #393
This is great! I uncovered 2 more while going through:

- `sh. \d` (may also have `sh.\d`) etc being cut down to "s" probably because it's catching the "h." because that's another abbreviation. Sample catkey: 1600048 (https://catalog-basecn.dev.k8s.libraries.psu.edu/catalog/1600048)
- `god.\d`  (may also have `god. \d`)... I got nothing. Sample catkey: 434040 (https://catalog-basecn.dev.k8s.librar

[2022-05-13 13:16] #393 closed

[2022-05-18 19:03] #285 closed

[2022-05-18 19:05] #289 closed

[2022-05-18 19:06] banukutlu opened #420 "Generate and Index non-LC Call Number Shelf Keys"
Index base call numbers for search and "forward" / "backward" navigation

https://github.com/psu-libraries/psulib_blacklight/wiki/Browse-Items-by-Library-of-Congress-Call-Number#indexing

SUDOC:

- HE 20.427:B 87/4/2008
- HE 20.427:C 76/2/KIT.
- HE 20.427:H 33
- HE 20.427:H 75/PACK.
- HE 20.427:IL 6/KIT
- HE 20.427:IN 7

ASIS:

- Microfilm D302
- Microfilm D323
- Microfilm F401
- Microfilm F402
-

[2022-05-26 14:14] ruthtillman opened #421 "Continues / continued by linking without ISSN"
Right now, the continues/continued by is including the ISSN _if it exists_, in the title search, e.g. https://catalog.libraries.psu.edu/?search_field=title&q=PennState+agriculture+0889-5929

Sometimes it's just a title. This record has a good example of how it could be either way: https://catalog.libraries.psu.edu/catalog/313610

Because we are specifically searching title, the ISSN doesn't work.

[2022-08-01 14:12] banukutlu opened #427 "psulib_traject ruby"

[2022-08-01 14:12] banukutlu opened #428 "psulib_traject gemfile/yarn vulns"

[2022-08-01 14:46] banukutlu opened #429 "psulib_traject docker vulns"

[2022-10-21 15:52] ruthtillman opened #433 "Index MARC 773 for display as "part of""
Special Collections would like to add the MARC 773 (with first indicator 0) to the index for display in records. We'll be calling this "part of" because that's probably the best name for it.

Traject code would be:

[code]

The field may repeat and we would display separate entries on successive lines. For display, see:

## WDDLL

- [ ] the 773s are indexed for display as text in a record.

## Sam

[2022-11-17 16:50] #185 closed

[2022-11-28 17:28] #421 closed